{% extends "jsprofile/base.html" %}
{% block extrahead %} 
<link rel="stylesheet" href="{{ STATIC_URL }}js/datepicker/datepicker.css" />
<link href="{{STATIC_URL}}jsprofile_static/xeditable/bootstrap-editable.css" rel="stylesheet"/>  
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-wysihtml5.css"></link>
<style>
.editable form{
    background-color: #F8F8F8;
    border: 1px solid #EAD9CE;
    ursor: default;
    margin: 0;
    padding: 13px;
}
hr{
margin: 5px;
}
.item_tittle h1 span{
    background: none repeat scroll 0 0 #74767A;
    border-radius: 3px 3px 3px 3px;
    color: #ffffff;
    float: right;
    font-size: 16px;
    font-weight: bold;
    margin: 7px 0 0;
    padding: 0 5px;
    margin-right: 0;
}
.item_tittle h2 {
    font-size: 18px;
    font-weight:normal;
    text-align: left;
    color:#000;
}
.item_tittle h3{
    font-size: 14px;
    font-weight:normal;
    text-align: right;
    color:#000;
}
.bs-sidebar.affix {
    position: static;
}
.sideheading{
    background-color: #e0e0e0;
    background-image: -moz-linear-gradient(#fafafa, #e0e0e0);
    background-image: -webkit-linear-gradient(#fafafa, #e0e0e0);
    background-image: linear-gradient(#fafafa, #e0e0e0);
    background-repeat: repeat-x;
    display: block;
    padding: 10px 10px;
    border-bottom: 1px solid #ccc;
    color: #222;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    border-left: 0 none;
}
.bs-sidenav {
    padding-top:    10px;
    padding-bottom: 10px;
    background-color: #fafafa;
    border-radius: 5px;
    border:1px solid #CCC;
}
.bs-sidebar .nav > li > a {
    font-size: 1.2em;
    display: block;
    color: #716b7a;
    padding: 10px 20px;
    border-right: 4px solid transparent;
}
.bs-sidebar .nav > li > a:hover,.bs-sidebar .nav > li > a:focus{
    text-decoration: none;
    background-color: #fff;
    border-right: 4px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,.bs-sidebar .nav > .active:hover > a,.bs-sidebar .nav > .active:focus > a {
    font-weight: bold;
    color: #418cd1;
    background-color: #fff;
    border-right: 4px solid #418cd1;
}
</style>
{% endblock %}
{% block content %}
{% load mytaghelper %}
{% load jsprofile_extras %}

<div class="container-fluid" style="min-height:580px;">
    <div class="row-fluid">
        <div class="span3">
            <div class="bs-sidebar">
                <ul class="nav bs-sidenav">
                    <li class='sideheading'>{{ request.user.username }}</li>
                    <li class="active"><a href="/js/Dashboard/">Dashboard</a></li>{% for nav in navs %}<li{% ifequal next forloop.counter %} class="active"{% endifequal %}><a class="ajaxLoad" href="/js/{% sidebar nav %}/" data-ajxurl="{{ forloop.counter }}">{{nav}}</a></li>{% endfor %}
                </ul>
            </div>
        </div>
        <div class="span9">            
            <div id="secret" class="xgap">
            	<h4 style="border-bottom:2px solid #FFB812;">Security Clearance Section</h4><br>
            	<div class="toggleview"> 
            	<a href="javascript:void(0);" class="btn btn-warning toggle-button">Update</a>
                    <div id ='viewscretclr'>
            		<table class="table table-striped">
            			<tr>
            				<th >Security Clearance</th>
            				<td id='secretopts'>{{secretclr.0.jssecretclear}}</td>
            			</tr>
            			<tr>
            				<th>From Date</th>
            				<td id="fdate">{{secretclr.0.jsfromdate|date:'m-d-Y'}}</td>
            			</tr>
            			<tr>
            				<th>Expire Date</th>
            				<td id="tdate">{{secretclr.0.jstodate|date:'m-d-Y'}}</td>
            			</tr>
            		</table>
                    </div>
            	</div>
            	<div class="editable toggleform" style="display:none;">
            	    <form id="secretForm" action="" method="post" enctype="multipart/form-data">{% csrf_token %}	
            	    <input type="hidden" name="curform" value="secretform">
            	    <table class="table table-striped">         
                    <tr><td>Security Clearance</td><td>                    
                        <select name="jssecretclear" class="input-xlarge" id="cmbsecretopts">
                        <option value=""> Select </option>
                        <option value="None">None</option>
                        <option value="Public Trust">Public Trust</option>
                        <option value="NACI">NACI</option>
                        <option value="ADP1/IT1">ADP1/IT1</option>
                        <option value="ADP2/IT2">ADP2/IT2</option>
                        <option value="Confidential">Confidential</option>
                        <option value="DOE L">DOE L</option>
                        <option value="DOE Q">DOE Q</option>
                        <option value="Secret">Secret</option>
                        <option value="Top Secret">Top Secret</option>
                        <option value="Top Secret/SCI">Top Secret/SCI</option>
                        <option value="Top Secret/SCI CI Polygeaph">Top Secret/SCI CI Polygeaph</option>
                        <option value="Top Secret/SCI Full Scope Polygeaph">Top Secret/SCI Full Scope Polygeaph</option>
                        <option value="Other Clearance">Other Clearance</option>
                        </select>
                    	</td>
                    </tr>
                    <tr>
                    	<td>From Date</td>
                    	<td><input type="text" name="jsfromdate" class="input-xlarge dpicker" id="dpd11" readonly></td>
                    </tr>
                    <tr>
                    	<td>Expire Date</td>
                    	<td><input type="text" name="jstodate" class="input-xlarge dpicker" id="dpd22" readonly></td>
                    </tr>
                    <tr><td colspan="2" style="text-align:center;">
                            <input class="btn btn-success" type="submit" value="save" />&emsp;<input type="reset" class="btn btn-warning toggle-button" href="javascript:void(0);" value="Cancel">
                        </td>
                    </tr>
                </table>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.bs-sidenav li').removeClass('active');
    $(".bs-sidenav li:nth-child(11)" ).addClass("active");

    $("#dpd11").datepicker({
        format: "mm-dd-yyyy",
    });
    $("#dpd22").datepicker({
        format: "mm-dd-yyyy",
    });
    $('#dpd11').datepicker()
    .on('show',function(ev){
        var date=$('#dpd11').datepicker("getDate");
        date.setDate(date.getDate()+1);
        $('#dpd22').datepicker("setStartDate",date);
    })
    .on('changeDate', function(ev){
        var date1=$('#dpd11').datepicker("getDate").valueOf();
        var date11=$('#dpd11').datepicker("getDate");
        date11.setDate(date11.getDate()+1);
        var date2=ev.date.valueOf();
        if(date2<=date1){$('#dpd22').datepicker("setDate",date11);}
    });
    $('body').on('click','.toggle-button',function() {
        $('.toggleview').toggle();
        $('.toggleform').toggle();
        
        if ($(this).hasClass('btn-success')) {
            $('.toggleform').find("input[type=text], select").val("");
            
        }else if ($(this).hasClass('btn-warning')) {
            var curopt=$('#secretopts').text();
            $('#cmbsecretopts option[value="'+curopt+'"]').prop('selected', true);
            $('#dpd11').val($('#fdate').text());
            $('#dpd22').val($('#tdate').text());
        }
    });
    $('body').on("submit", "#secretForm", function(event){
        event.preventDefault();
        $.ajax({
            url:'/editsecret/',
            type:"POST",
            data:$(this).serialize(),
            success:function(data){                
                window.location='/js/Secret_Clearance_Section/';
            }
        })
    });
});
</script>
{% endblock %}
