<link rel="shortcut icon" href="/static/img/Faviicon.ico">    
<link rel="stylesheet" href="/static/css/flatstrap.css" /> 
<link rel="stylesheet" href="{/static/css/bootstrap-responsive.css" />
<link href="/static/jsprofile_static/xeditable/bootstrap-editable.css" rel="stylesheet"/>  
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-wysihtml5.css"></link>

<script language="JavaScript" type="text/javascript">
<!--

// Global variable to hold player's reference.
var _Nimbb;

// Event: Nimbb Player has been initialized and is ready.
function Nimbb_initCompleted(idPlayer)
{
  // Get a reference to the player since it was successfully created.
  _Nimbb = document[idPlayer];

  // Hide the preloader.
  $("#loading").hide();
}

// -->
</script>


<div id="loading" class="alert alert-info" style="width:38%;">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
  </button>
  Loading the widget... Please wait.
</div>

<object id="nimbb" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
        width="600" height="420"
        codebase= "http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">

    <param name="movie"
           value="http://player.nimbb.com/nimbb2.swf?guid={{video.guid}}&lang=en" />
    <param name="allowScriptAccess" value="always" />
    <param name="allowFullScreen" value="true" />

    <embed name="nimbb"
        src="http://player.nimbb.com/nimbb2.swf?guid={{video.guid}}&lang=en"
        width="600"
        height="420"
        allowScriptAccess="always"
        allowFullScreen="true"
        pluginspage="http://www.adobe.com/go/getflashplayer"
        type="application/x-shockwave-flash">
    </embed>
</object>
