<div id="secret" class="xgap">
	<h4 style="border-bottom:2px solid #FFB812;">Security Clearance Section:</h4><br>
	<div class="toggleview"> 
	<a href="javascript:void(0);" class="btn btn-warning toggle-button">Update</a>
        <div id ='viewscretclr'>
		<table class="table table-striped">
			<tr>
				<th >Security Clearance</th>
				<td id='secretopts'>{{secretclr.jssecretclear}}</td>
			</tr>
			<tr>
				<th>From Date</th>
				<td id="fdate">{{secretclr.jsfromdate|date:'m-d-Y'}}</td>
			</tr>
			<tr>
				<th>Expire Date</th>
				<td id="tdate">{{secretclr.jstodate|date:'m-d-Y'}}</td>
			</tr>
		</table>
        </div>
	</div>
	<div class="editable toggleform" style="display:none;">
	    <form id="secretForm" action="" method="post" enctype="multipart/form-data">{% csrf_token %}	
	    <input type="hidden" name="curform" value="secretform">
	    <table class="table table-striped">         
        <tr><td>Security Clearance</td><td>                    
            <select name="jssecretclear" class="input-xlarge" id="cmbsecretopts">
            <option value=""> Select </option>
            <option value="None">None</option>
            <option value="Public Trust">Public Trust</option>
            <option value="NACI">NACI</option>
            <option value="ADP1/IT1">ADP1/IT1</option>
            <option value="ADP2/IT2">ADP2/IT2</option>
            <option value="Confidential">Confidential</option>
            <option value="DOE L">DOE L</option>
            <option value="DOE Q">DOE Q</option>
            <option value="Secret">Secret</option>
            <option value="Top Secret">Top Secret</option>
            <option value="Top Secret/SCI">Top Secret/SCI</option>
            <option value="Top Secret/SCI CI Polygeaph">Top Secret/SCI CI Polygeaph</option>
            <option value="Top Secret/SCI Full Scope Polygeaph">Top Secret/SCI Full Scope Polygeaph</option>
            <option value="Other Clearance">Other Clearance</option>
            </select>
        	</td>
        </tr>
        <tr>
        	<td>From Date</td>
        	<td><input type="text" name="jsfromdate" class="input-xlarge dpicker" id="dpd11" readonly></td>
        </tr>
        <tr>
        	<td>Expire Date</td>
        	<td><input type="text" name="jstodate" class="input-xlarge dpicker" id="dpd22" readonly></td>
        </tr>
        <tr><td colspan="2" style="text-align:center;">
                <input class="btn btn-success" type="submit" value="save" />
	    		<a href="javascript:void(0);"  rel="secret" class="btn btn-danger toggle-button">cancel</a>
            </td>
        </tr>
    </table>
    </form>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
 	$('.dpicker').datepicker({
	    format: "mm-dd-yyyy",
	    autoclose:true,
	    startView: 2
	});
    $('body').on('click','.toggle-button',function() {
        //var section=$(this).attr('rel');
        $('.toggleview').toggle();
        $('.toggleform').toggle();
        
        if ($(this).hasClass('btn-success')) {
            $('.toggleform').find("input[type=text], select").val("");
            
        }else if ($(this).hasClass('btn-warning')) {
            //show already selected opts
            var curopt=$('#secretopts').text();
            $('#cmbsecretopts option[value="'+curopt+'"]').prop('selected', true);
            $('#dpd11').val($('#fdate').text());
            $('#dpd22').val($('#tdate').text());
        	//Mark_selected_Options()
        }
    });
    $("body").on("submit","#secretForm",function(event){	
		$.post('/ajax/views/', $(this).serialize(),	function(data){
            $('#viewscretclr').html(data);
            $('.toggleview').toggle();
            $('.toggleform').toggle();  
		});	
		event.preventDefault();		
	});
});
</script>
