{% extends "registration/base/jobseekerbase.html" %}
{% block extrahead %}
<style type="text/css">strong,b{color:#39b3d7;}.abtus > h4{color: #ed9c28;}</style>{% endblock %}
<script type="text/javascript">
<function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script>
{% block content %}
 <div class="container" style="min-height:580px;"> 	
 	<div class="row-fluid">
 		<div class="span12 abtus">
 			<h3 class="text-info" style="border-bottom:2px solid #FFB812;">About iTechTalents.com</h3>     
        <p><b>iTechTalents</b> is fastest growing online job site. iTechTalents connects thousands of job seekers to top companies each day.</p>
        <p><b>iTechTalents</b> reaches top job seekers across the World.</p>
        <h4>Our Vision & Mission</h4>
        <strong>Employee-Driven. Customer-Focused.</strong>
        <p>We are changing the way companies around the world recruit their most important asset: their people. Our mission is to be the global leader in online recruitment advertising by being an employee-driven, customer-focused organization that provides the best rate of return to our stakeholders.</p>
        <h4>Our Values</h4>
        <p>iTechTalents strives to incorporate the following values into everything that we do:</p>
        <ul>
          <li>We communicate with clarity, honesty, and respect in all relationships.</li>
          <li>We give leaders within the organization freedom to run their own business and reward and hold them accountable for the success of that business.</li>
          <li>We are passionate about helping our customers achieve their goals, assisting the global community in enhancing the lives of all its citizens, and creating a work environment where people of different backgrounds and perspectives can succeed based upon the content of their character and the quality of their performance.</li>
          <li>To remain an industry leader, we must learn and rapidly translate that learning into action. We must also develop our employees and teach them to use critical thinking skills in all decision making. This is the only competitive advantage.</li>
          <li>We treat every situation with a positive, "can do" attitude. When faced with challenges, we respond constructively to bring about solutions that exceed expectations.</li>
        </ul>
          <h4>iTechTalents Fast Fact</h4>
          <ul>
            <li><b>Job Seekers:</b>More than 23 million unique visitors a month visit the global iTechTalents family.</li>
            <li><b>Ownership:</b>Gannett Co., Inc. (NYSE:GCI), Tribune Company (NYSE:TRB), and The McClatchy Company (NYSE:MNI) and Microsoft Corp. (Nasdaq: MSFT)</li>
            <li><b>Number of Employees:</b>More than 2,500</li>
            <li><b>Partners:</b>iTechTalents.com powers the online career centers of more than 1,400 partners, including NDTV.com and MSN.co.in</li>
            <li><b>Global Presence:</b>iTechTalents.com and its subsidiaries operate in the U.S., Europe, Canada and Asia.</li>
          </ul>
          <h4>Company Profile</h4>
          <p><a href="#">Leadership</a></p>
          <p><a href="#">Board of Directors</a></p>
          <p><a href="#">Our Partners</a></p>
          <h4>Contact info</h4>
          <div style="color: #466ac5; font-weight: bold;font-size: 11px;margin-bottom: 0;">iTechTalents</div>
 					<p><strong>Toll Free:</strong> 1-800-4196666 </p>
 					<p><strong>Email:</strong>info@iTechTalents.com</p> 				
 			</div>
 		</div>
 	</div>
{% endblock %}  