<table width="80%">

<table width="60%">
<tr>
<th><input type="button" value="Login to Apply" /></th>
<th><input type="button" value="Apply and Register" /></th>
<th><input type="button" value="Apply Without Registration" /></th>
</tr>
</table>

<br />
<h2>New User: Apply to Selected Job and Register</h2>

<table width="30%">
<tr>
<td>	

<p>Name </p>
<p>Email </p>
<p>Password </p>
<p>Mobile Number</p>
<p>Current Locations</p>
<p>Total Experinence</p>
</td>

<td>
<p><input type="text" value="Enter your Name" /></p>
<p><input type="text" value="Enter your Email ID" /></p>
<p><input type="password" /></p>
<p><input type="text" value="Enter your Mobile Number" /></p>
<p><input type="text" value="Enter your Current Location" /></p>
<select>
<option>Select</option>
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
<option>6</option>
<option>7</option>
</select>
</td>
</tr>
</table>

<br />
<p> Attach Resume &emsp;&emsp;<input type="text" />&emsp;&emsp;<input type="button" value="Browse.." /></p>
<p> <input type="button" value="Submit" /></p>


</table>
