<!DOCTYPE html>
<html>
<head>
	<title>Interview Schedule</title>
</head>
<body>
	<div style="width:75%;margin:auto;background-color:#FCF8E3;border:1px solid #FBEED5;margin-bottom:20px;color:#3A87AD;font-family: arial,sans-serif;;font-size:14px;">
		<div style="width:70%;margin:auto;"><p style="font-size:36px;color: #357EC7;"><strong>ITechTalents <sub style="font-size:16px;">"Smart Engine, Smart People"</sub></strong></p></div>
		<hr style="width:80%;margin:auto;border:solid 1px #ffc21f;"><br>
		<div style="width:70%;margin:auto;">
			<p style="padding:15px;background:#FDE25E;border:solid 1px #ffc21f;color:#830303;text-align:center;"><strong>Mail For Interview Cancellation ! </strong></p><br>
			<p><strong>Dear {% if fname %}{{ fname}} {{ lname }}{% else %}{{un}}{% endif %}</strong></p><br>
			<p>The scheduled interview for the position of <strong>{{title}}</strong>&nbsp;({{refcode}}) by <strong>{{company}}</strong> has been cancelled.</p><br>
			<p>For more information click the below button.</p><br><br>
			<p><a target="_blank" style="margin-right:5px;background:#3c98ed;font-size:17px;font-weight:bold;color:#fff;padding:7px 10px;font-family:Arial,Helvetica,sans-serif;text-decoration:none;" href="http://{{current_domain}}/accounts/login/">View Information ! </a></p><br><br><br>
			<p>Thanks & Regards,</p>
			<p>HR Staffing Team, ItechTalents.com</p>
			<br>
		</div>
		<hr style="border:solid 1px #ffc21f;"><br>
	</div>
</body>
</html>