<table align="center" width="80%">
<tr>

<td>
<p><input type="button" value="Download Resume"/></p>
<br />
<p>320 Debbie Drive</p>
<p>schenectady,NY 12306</p>
<p>United States</p>
</td><br /><br />

<td valign="top">

<p><input type="button" value="See this Candidate In open Web Viewer"/></p>
</td>
<td>
<table border="1" width="90%">
<tr>

<td valign="top">
<p><a href="">Save Candidate</a></p>
<p><a href="">Role Candidate</a></p>
<p><a href="">Candidate Notes</a></p>
</td>


<td valign="top">
<p><a href="">Email Candidate</a></p>
<p><a href="">Report Candidate</a></p>
<p><a href="">Route Resume</a></p>
</td>

</tr>
</table></td>


</tr></table>


<table  border="0" width="80%">
<tr>
<td>

<br /><br />
<p>Posted</p>
<p>E-mail</p>
<p>Primary Phone</p>
<p>Secondary Phone</p>
<p>Desired Position</p>
<p>Education</p>
<p>School/Institution</p>
<p>Authorization</p>
<p>Tax Terms</p>
<p>Hourly pay Rate</p>
<p>Salary</p>
<p>Years Experience</p>
<p>Recent Employer</p>
<p>Previous Employer</p>
<p>Security Clearance</p>
<p>Third Party</p>
<p>Job Classification</p>
<p>Personal Summary</p>
</td>

<td><br /><br />
<p>10 Feb 2013</p>
<p>abc@gmail.com</p>
<p>518-573-5999</p>
<p>519-575-4585</p>
<p>Programmer Analyst</p>
<p>Association</p>
<p>Grumman</p>
<p>U.S Citizen</p>
<p>Contract-Corp-to-Corp</p>
<p>$75.00</p>
<p>$125,000,00</p>
<p>25</p>
<p>Loving Care Agency</p>
<p>LeadingAge Newyork Health Research Inc NY University</p>
<p>No</p>
<p>No</p>
<p>Informationtechnology,ComputerAnalyst</p>
<p>       </p>
</td>


<td>

<table border="1" width="90%">
<tr>
<td>
<p><h3>Skill</h3></p>
<p>.NET</p>
<p>COBOL</p>
<p>Database Design</p>
<p>HTML</p>
<p>SQL</p>
<p>Sybase</p>
<p>User Interface Design</p>
<p>Visual Basic</p>
</td>


<td>
<p><h3>Years Used</h3></p>
<p>1</p>
<p>4</p>
<p>5</p>
<p>9</p>
<p>3</p>
<p>6</p>
<p>2</p><p>7</p>
</td>

<td>
<p><h3>Last Used</h3></p>
<p>2009</p>
<p>2007</p>
<p>2004</p>
<p>1991</p>
<p>2005</p>
<p>2001</p>
<p>1896</p>
<p>1992</p>
</td>
</tr>
</table>

<br /><br />


<table border="1" width="90%">
<tr>
<td>
<p>Willing to Relocate</p>
<p>Willing to Travel</p>
<p>Willing to Telecommute</p>
</td>

<td>
<p>&emsp;Yes</p>
<p>&emsp;Yes</p>
<p>&emsp;100%</p>
</td>
</tr>
</table>
<br /><br />

<table border="1" width="90%">
<tr>
<td>
<p><h3>Relocation Choices</h3></p><br />
<p>Westchester,NY</p>
<p>Hartford,CT</p>
<p>Stamford,CT</p>
</td>

<td>
<p>&emsp;United States</p>
<p>&emsp;United States</p>
<p>&emsp;United States</p>
</td>
</tr>
</table>

</td>
</tr>

</table>

<br /><br />


<p><h3>Resume</h3></p>
<table border="0" width="80%">
<tr>
<td>


<p><input type="button"value="Download Resume"/></p>
</td>
</tr>


<tr>
<td align="center">
<br />
<br />
<p><textarea name="text" cols="90" rows="20">View Resume Summary...</textarea> </p>

</td>
</tr>
</table>

<br /><br />

<p><input type="button" value="Back to search Results"/></p>

<table align="center">
<tr>
<td>
<p> Follows Us: &emsp;<a href="">Facebook</a> | <a href="">Twitter</a> | <a href="">Linkedin</a> | <a href="">Google</a></p>
</td>
</tr>
</table>
