{% extends "registration/base/jobseekerbase.html" %}
{% block extrahead %}<style type="text/css">.cntus h4{color:#39b3d7;}</style>{% endblock %}
{% block content %}
<div style="min-height:580px;" class="container">
  <div class="row-fluid">
    <div class="span12 cntus">
    <h3 class="text text-info" style="border-bottom:2px solid #FFB812;">Contact Us</h3>
    <p class="text-success">Thank you for visiting iTechTalents!</p>
    <p>We're here to help! Choose the method that works best for you. Try our Quick Help Links or send us an email. We look forward to hearing from you. </p>
    <div>
      <h4>Job Seekers</h4>
      <ul>
        <li>If you are a job seeker and would like to contact us, call us at:</li>
        <li><b>Toll Free:</b> 1-800-4196666</li>
        <li>Toll: +91-40-6611-6611*</li>
        <li>(Standard STD / ISD charges apply)</li>
      </ul>
    </div>
    <div>
      <h4>Employers</h4>
      <ul>
        <li> If you are an employer and would like to contact us, call us at: </li>
        <li><b>Toll Free:</b> 1-800-4196666</li>
        <li>Toll: +91-40-6611-6611*</li>
        <li>(Standard STD / ISD charges apply)</li>
      </ul>
    </div>
  </div>
</div>
</div>
{% endblock %}

