{% extends "registration/base/jobseekerbase.html" %}
{% block extrahead %}<style type="text/css">strong{color:#39b3d7;}</style>{% endblock %}
{% block content %}
<div style="min-height:580px;" class="container">
  <div class="row-fluid">
    <div class="span12">
      <h3 class="text-info" style="border-bottom:2px solid #FFB812;">Copyright</h3>
      <p style="text-align:justify;">

These materials are provided by itechtalents.com as a service to its readers and may be used for information purposes only. Itechtalents assumes no responsibility for errors or omissions in these materials. It makes no commitment to update the information contained herein. It makes no, and expressly disclaims any, representations or warranties, express or implied, regarding the Itechtalents Worldwide Web site, including without limitation the accuracy, completeness or reliability of text, graphics, links and other items accessed from or via this server or the Internet. No advice or information given by itechtalents, its affiliates or their respective employees, agents or independent contractors shall create any warranty.</p>
<p style="text-align:justify;">
In addition, itechtalents cannot control and cannot edit content provided by a third party prior to transmission on the itechtalents web site, nor can itechtalents ensure prompt removal of inappropriate or unlawful content after transmission. Third party postings are not reviewed for truth or accuracy and do not represent the opinion, beliefs, or statements of FW.</p>
<p style="text-align:justify;">
Under no circumstances shall FW or any of its affiliates, respective partners, officers, directors, employees, subsidiaries, agents, or parents be held liable for any damages, whether incidental, indirect, special or consequential damages and including without limitation, lost revenues or lost profits arising from or in connection with the use or performance of the information on this server or the Internet generally.</p>
<p style="text-align:justify;">
Itechtalents retains the copyright in all of the material on these web pages as a collective work under copyright laws. You may not copy, republish, redistribute or exploit in any manner any material from these pages without the express written consent of itechtalents. Contact itechtalents for more details. You may, however, download copyrighted material for your individual and non-commercial use only.</p>
<p style="text-align:justify;">
The itechtalents name and logo and all related product and service names, design marks and slogans, including but not limited to e-Campus and the Global Campus Network are the trade names, service marks, or trademarks of itechtalents, and may not be used without the prior written consent of itechtalents.</p>
<p>
All rights reserved © 2014 Freshersworld.com

Any rights not expressly granted herein are reserved.

Contact Freshersworld.com with questions or problems, as appropriate.
</p>
      </div>
</div>
</div>

{% endblock %}