<script type="text/javascript" src="{{ STATIC_URL }}js/datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/datepicker/daterange.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}js/datepicker/datepicker.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/inputmask.js"></script>
<script type="text/javascript">
   function initmasks(){
    $('#workno').mask('+1-999-999-9999');
    $('#handno').mask('+1-999-999-9999');
    $('#faxno').mask('+1-999-999-9999');
    
}
     function isNumberKey(evt)
      {
         var charCode = (evt.which) ? evt.which : event.keyCode
         if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

         return true;
      }

    function validateForm()
    {
    var x=document.forms["myForm"]["skills"].value;
    var y=document.forms["myForm"]["state"].value;
    if ((x==""||x==null) && (y==""||y==null))
      {
      document.myForm.skill.style.borderColor = "#FF0000";
      document.myForm.state.style.borderColor = "#FF0000";
      return false;
      }
    }
</script>

<script>
 
$(function() {
    initmasks();
        var addresspicker = $( "#addresspicker" ).addresspicker();
        var addresspickerMap = $( "#addresspicker_map" ).addresspicker({
            regionBias: "fr",
      updateCallback: showCallback,
          elements: {
            map:      "#map",
            lat:      "#lat",
            lng:      "#lng",
            street_number: '#street_number',
            route: '#route',
            locality: '#locality',
            administrative_area_level_2: '#administrative_area_level_2',
            administrative_area_level_1: '#administrative_area_level_1',
            country:  '#country',
            postal_code: '#postal_code',
        type:    '#type' 
          }
        });

        var gmarker = addresspickerMap.addresspicker( "marker");
        gmarker.setVisible(true);
        addresspickerMap.addresspicker( "updatePosition");

    $('#reverseGeocode').change(function(){ 
      $("#addresspicker_map").addresspicker("option", "reverseGeocode", ($(this).val() === 'true'));
    });

    function showCallback(geocodeResult, parsedGeocodeResult){
      $('#callback_result').text(JSON.stringify(parsedGeocodeResult, null, 4));
    }
        
    });
    </script>
<style type="text/css">

.ui-autocomplete { position: absolute; cursor: default; }   


.ui-menu {
    list-style:none;
    padding: 2px;
    margin: 0;
    display:block;
    float: left;
    z-index: 1; top: 467.867px; left: 263px; display: none; width: 302px;border: 1px solid #aaaaaa; background: #ffffff;
}
.ui-menu .ui-menu {
    margin-top: -3px;
}
.ui-menu .ui-menu-item {
    margin:0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
}
.ui-menu .ui-menu-item a {
    text-decoration:none;
    display:block;
    padding:.2em .4em;
    line-height:1.5;
    zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
}
.ui-helper-hidden-accessible{display: none;}
</style>



    {% load mytaghelper %}


<form name="edit_personal_info_form" action="/accounts/Editpersonalinfo/" method="post" enctype="multipart/form-data">{% csrf_token %}
	<div>

	<span><input type="hidden" value="{{ user.id }}" name="user_id" ></span>
    
		
	
	<div style="width:1000px;margin:auto;padding:0px;">
	<table width="100%" align="center" style="border-collapse:separate;" cellpadding="10">

    <tr>
        <td colspan="4">
            <p><h3> Personal Information</h3></p>
        </td>

    </tr>
	<tr>
		<td>First Name</td>
		<td><input type="text" name="fname" value="{{ user.first_name }}" > </td>
		<td>Last Name </td>
		<td><input type="text" name="lastname" value="{{ user.last_name }}" ></td>
		
	</tr>

    <tr>
        <td>Date of Birth</td>
        <td>
            
            <input id="dob" type="text" name="dob" value="{% for a in details1 %}{% if a.dob %}{{ details1.0.dob }}{%endif%}{%endfor%}" readonly>
        </td>
        <td>Primary Email</td>
        <td><label>{{ user.email }}</label> </td>
    </tr>
    {% for a in details1 %}
    <tr>
        <td>Secondary Email</td>
        <td>
            {% if a.sec_email %}
            <input type="text" name="sec_email"  value="{{ a.sec_email }}">
            {% else %}
            <input type="text" name="sec_email"  value="">
            {% endif %}
        </td>

   
        <td>Marital Status</td>
        <td>
            {% if a.maritalstatus %}
            {% SelectMaritalStatus a.maritalstatus %}
            {% else %}
            <select name="maritalstatus" >
                <option value="">Select</option>
                <option value="Single/Unmarried">Single/Unmarried</option>
                <option value="Married">Married</option>
                <option value="Widowed">Widowed</option>
                <option value="Divorced">Divorced</option>
                <option value="Separated">Separated</option>
                <option value="Other">Other</option>
            </select>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Total Experience</td>
        <td>
            {% if a.work_expyears %}
            {% SelectExpYears a.work_expyears %}
            {% else %}
            <select name="work_expyears" style="width:90px;" >
                <option value="">Year</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
            </select>Years
            {% endif %}

            {% if a.work_expmonths %}
            {% SelectExpMonths a.work_expmonths %}
            {% else %}
            <select name="work_expmonths" style="width:90px;" >
                <option value="">Month</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
            </select>Months
            {% endif %}

        </td>
       
   


        <td>Annual Salary</td>
        <td>
            {% if a.salaryrange %}
            {% SelectAnnualSalary a.salaryrange %}
            {% else %}
            <select name="salary" >
                <option value=""> Select </option>
                <optgroup label="Month Wise">
                <option value="Lessthan 20,000$">Lessthan 20,000$</option>
                <option value="20,000$ - 30,000$">20,000$ - 30,000$</option>
                <option value="30,000$ - 40,000$">30,000$ - 40,000$</option>
                <option value="40,000$ - 50,000$">40,000$ - 50,000$</option>
                <option value="50,000$ - 60,000$">50,000$ - 60,000$</option>
                <option value="60,000$ - 70,000$">60,000$ - 70,000$</option>
                <option value="Above 70,000$">Above 70,000$</option>
                <option value="<optgroup label='Hour Wise'>"></option>
                </optgroup>
                <optgroup label="Hour Wise">
                <option value="Lessthan 40$/hr">Lessthan 40$/hr</option>
                <option value="40$/hr - 50$/hr">40$/hr - 50$/hr</option>
                <option value="50$/hr - 60$/hr">50$/hr - 60$/hr</option>
                <option value="60$/hr - 70$/hr">60$/hr - 70$/hr</option>
                <option value="70$/hr - 80$/hr">70$/hr - 80$/hr</option>
                <option value="80$/hr - 90$/hr">80$/hr - 90$/hr</option>
                <option value="90$/hr - 100$/hr">90$/hr - 100$/hr</option>
                <option value="Above 100$/hr">Above 100$/hr</option>
                </optgroup>
            </select>
            {% endif %}


        </td>
 </tr>
 <tr>
        <td>Current Industry</td>
        <td>
            {% if a.industry %}
            {% SelectIndustry a.industry %}
            {% else %}
            <select name="industry" >
               <option value=""> Select </option>
                <option value="Accounting/Finance">Accounting/Finance</option>
                <option value="Advertising/PR/MR/Events">Advertising/PR/MR/Events</option>
                <option value="Agriculture/Dairy">Agriculture/Dairy</option>
                <option value="Animation">Animation</option>
                <option value="Architecture/Interior Designing">Architecture/Interior Designing</option>
                <option value="Auto/Auto Ancillary">Auto/Auto Ancillary</option>
                <option value="Aviation / Aerospace Firms">Aviation / Aerospace Firms</option>
                <option value="Banking/Financial Services/Broking">Banking/Financial Services/Broking</option>
                <option value="BPO/ITES">BPO/ITES</option>
                <option value="Brewery / Distillery">Brewery / Distillery</option>
                <option value="Ceramics /Sanitary ware">Ceramics /Sanitary ware</option>
                <option value="Chemicals/PetroChemical/Plastic/Rubber">Chemicals/PetroChemical/Plastic/Rubber</option>
                <option value="Construction/Engineering/Cement/Metals">Construction/Engineering/Cement/Metals</option>
                <option value="Consumer Durables">Consumer Durables</option>
                <option value="Courier/Transportation/Freight">Courier/Transportation/Freight</option>
                <option value="Defence/Government">Defence/Government</option>
                <option value="Education/Teaching/Training">Education/Teaching/Training</option>
                <option value="Education/Teaching/Training">Education/Teaching/Training</option>
                <option value="Electricals / Switchgears">Electricals / Switchgears</option>
                <option value="Export/Import">Export/Import</option>
                <option value="Facility Management">Facility Management</option>
                <option value="Fertilizers/Pesticides">Fertilizers/Pesticides</option>
                <option value="FMCG/Foods/Beverage">FMCG/Foods/Beverage</option>
                <option value="Food Processing">Food Processing</option>
                <option value="Fresher/Trainee">Fresher/Trainee</option>
                <option value="Gems & Jewellery">Gems & Jewellery</option>
                <option value="Glass">Glass</option>
                <option value="Heat Ventilation Air Conditioning">Heat Ventilation Air Conditioning</option>
                <option value="Hotels/Restaurants/Airlines/Travel">Hotels/Restaurants/Airlines/Travel</option>
                <option value="Industrial Products/Heavy Machinery">Industrial Products/Heavy Machinery</option>
                <option value="Insurance">Insurance</option>
                <option value="IT-Hardware & Networking">IT-Hardware & Networking</option>
                <option value="IT-Software/Software Services">IT-Software/Software Services</option>
                <option value="KPO / Research /Analytics">KPO / Research /Analytics</option>
                <option value="Legal">Legal</option>
                <option value="Media/Dotcom/Entertainment">Media/Dotcom/Entertainment</option>
                <option value="Internet/Ecommerce">Internet/Ecommerce</option>
                <option value="Medical/Healthcare/Hospital">Medical/Healthcare/Hospital</option>
                <option value="Mining">Mining</option>
                <option value="NGO/Social Services">NGO/Social Services</option>
                <option value="Office Equipment/Automation">Office Equipment/Automation</option>
                <option value="Oil and Gas/Power/Infrastructure/Energy">Oil and Gas/Power/Infrastructure/Energy</option>
                <option value="Paper">Paper</option>
                <option value="Pharma/Biotech/Clinical Research">Pharma/Biotech/Clinical Research</option>
                <option value="Printing/Packaging">Printing/Packaging</option>
                <option value="Publishing">Publishing</option>
                <option value="Real Estate/Property">Real Estate/Property</option>
                <option value="Recruitment">Recruitment</option>
                <option value="Retail">Retail</option>
                <option value="Security/Law Enforcement">Security/Law Enforcement</option>
                <option value="Semiconductors/Electronics">Semiconductors/Electronics</option>
                <option value="Shipping/Marine">Shipping/Marine</option>
                <option value="Steel">Steel</option>
                <option value="Strategy /Management Consulting Firms">Strategy /Management Consulting Firms</option>
                <option value="Telcom/ISP">Telcom/ISP</option>
                <option value="Textiles/Garments/Accessories">Textiles/Garments/Accessories</option>
                <option value="Tyres">Tyres</option>
                <option value="Water Treatment / Waste Management">Water Treatment / Waste Management</option>
                <option value="Wellness/Fitness/Sports">Wellness/Fitness/Sports</option>
                <option value="Other">Other</option>
            </select>
            {% endif %}

        </td>
  
        <td>Functional Area</td>
        <td>
            {% if a.functional_area %}
            {% SelectFunctionalArea a.functional_area %}
            {% else %}
            <select   name="functional_area" >
                <option value=""> Select </option>
                <option value="Accounts/Finance/Tax/CS/Audit">Accounts/Finance/Tax/CS/Audit</option>
                <option value="Agent">Agent</option>
                <option value="Analytics & Business Intelligence">Analytics & Business Intelligence</option>
                <option value="Architecture/Interior Design">Architecture/Interior Design</option>
                <option value="Banking/Insurance">Banking/Insurance</option>
                <option value="Content/Journalism">Content/Journalism</option>
                <option value="Corporate Planning/Consulting">Corporate Planning/Consulting</option>
                <option value="Engineering Design/R&D">Engineering Design/R&D</option>
                <option value="Export/Import/Merchandising">Export/Import/Merchandising</option>
                <option value="Fashion/Garments/Merchandising">Fashion/Garments/Merchandising</option>
                <option value="Guards/Security Services">Guards/Security Services</option>
                <option value="Hotels/Restaurants">Hotels/Restaurants</option>
                <option value="HR/Administration/IR">HR/Administration/IR</option>
                <option value="IT Software-Client Server">IT Software-Client Server</option>
                <option value="IT Software-Mainframe">IT Software-Mainframe</option>
                <option value="IT Software-Middleware">IT Software-Middleware</option>
                <option value="IT Software-Mobile">IT Software-Mobile</option>
                <option value="IT Software-Other">IT Software-Other</option>
                <option value="IT Software-System Programming">IT Software-System Programming</option>
                <option value="IT Software-Telecom Software">IT Software-Telecom Software</option>
                <option value="IT Software-Application Programming/Maintenance">IT Software-Application Programming/Maintenance</option>
                <option value="IT Software-DBA/Datawarehousing">IT Software-DBA/Datawarehousing</option>
                <option value="IT Software-E-Commerce/Internet Technologies">IT Software-E-Commerce/Internet Technologies</option>
                <option value="IT Software-Embedded/EDA/VLSI/ASIC/Chip Des">IT Software-Embedded/EDA/VLSI/ASIC/Chip Des</option>
                <option value="IT Software-ERP/CRM">IT Software-ERP/CRM</option>
                <option value="IT Software-Network Administration/Security">IT Software-Network Administration/Security</option>
                <option value="IT Software-QA & Testing">IT Software-QA & Testing</option>
                <option value="IT Software-Systems/EDP/MIS">IT Software-Systems/EDP/MIS</option>
                <option value="IT-Hardware/Telecom/Technical Staff/Support">IT-Hardware/Telecom/Technical Staff/Support</option>
                <option value="ITES/BPO/KPO/Customer Service/Operations">ITES/BPO/KPO/Customer Service/Operations</option>
                <option value="Legal">Legal</option>
                <option value="Marketing/Advertising/MR/PR">Marketing/Advertising/MR/PR</option>
                <option value="Packaging">Packaging</option>
                <option value="Pharma/Biotech/Healthcare/Medical/R&D">Pharma/Biotech/Healthcare/Medical/R&D</option>
                <option value="Production/Maintenance/Quality">Production/Maintenance/Quality</option>
                <option value="Purchase/Logistics/Supply Chain">Purchase/Logistics/Supply Chain</option>
                <option value="Sales/BD">Sales/BD</option>
                <option value="Secretary/Front Office/Data Entry">Secretary/Front Office/Data Entry</option>
                <option value="Self Employed/Consultants">Self Employed/Consultants</option>
                <option value="Shipping">Shipping</option>
                <option value="Site Engineering/Project Management">Site Engineering/Project Management</option>
                <option value="Teaching/Education">Teaching/Education</option>
                <option value="Ticketing/Travel/Airlines">Ticketing/Travel/Airlines</option>
                <option value="Top Management">Top Management</option>
                <option value="TV/Films/Production">TV/Films/Production</option>
                <option value="Web/Graphic Design/Visualiser">Web/Graphic Design/Visualiser</option>
                <option value="Other">Other</option>
            </select>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>
            {% if a.gender %}
            {% SelectGender a.gender %}
            {% else %}
            <select name="gender">
                <option value="">-Select-</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="General">General</option>
            </select>
            {% endif %}
        </td>
        <td>Linkedin url</td>
        <td>
            {% if a.profileurl %}
            <input type="text" name="profileurl" value="{{ a.profileurl }}" >
            {% else %}
            <input type="text" name="profileurl" value="">
            {% endif %}
     
      
        </td>
    </tr>

<tr>
        <th colspan="4">Communication Details</th>
    </tr>

<tr>

     <td>Mobile Number</td>
        <td>
            
            <input type="text" name="handno" value="{% if a.handno %}{{ a.handno }}{% endif %}" maxlength="10" id="handno" />
        </td>
    
        <td>Home Number</td>
        <td>            
            <input type="text" name="homeno" id="homeno" value="{% if a.homeno %}{{ a.homeno }}{% endif %}" maxlength="10" />            
        </td>
        </tr>
        <tr>
        <td>Work Number</td>
        <td>
            
            <input type="text" name="workno" value="{% if a.workno %}{{ a.workno }}{% endif %}" maxlength="10" id="workno" />
        </td>
        
    
        <td>Pre. Time to call</td>
        <td>
            {% if a.prefertime %}
            {% SelectPreferTime a.prefertime %}
            {% else %}
            <select  name="prefertime" style="width:235px;">
                <option value="">Select Time</option>
                <option value="Any Time">Any Time</option>
                <option value="10AM-12PM">10AM-12PM</option>
                <option value="12PM-02PM">12PM-02PM</option>
                <option value="02PM-04PM">02PM-04PM</option>
                <option value="04PM-06PM">04PM-06PM</option>
            </select>
           
            {% endif %}

        </td>
        </tr>
        
    <tr>
        <td colspan="4"><strong>Search your address here&emsp;:</strong>&emsp;<input type="text" class="input-xxlarge" id="addresspicker_map" placeholder="Boylston Avenue, Princeton, MA 01541, USA" />   <br/>
        </td>
    </tr>

    <tr>
        <td>Address 1</td>
        <td>            
            <input type="text" name="address1" value="{% if a.address1 %}{{ a.address1 }}{% endif %}">            
        </td>
        <td>Address 2</td>
        <td>
            
            <input type="text" name="address2" id="locality" value="{% if a.address2 %}{{ a.address2 }}{% endif %}" >
            
        </td>
    </tr>
     <tr>

        <td>
            <label>District: </label>
        </td>
        <td>
            
            <input type="text" id="administrative_area_level_2" name="city" value="{% if a.city %}{{ a.city }}{% endif %}" >
            
        </td>
        <td>
            <label>State/Province: </label>
        </td>
        <td>
            
            <input type="text" id="administrative_area_level_1" value="{% if a.state %}{{ a.state }}{% endif %}" name="state" >
            
        </td>
    </tr>
   
    <tr>
        
        <td>
            <label>Country:  </label>
        </td>
        <td>
            
            <input type="text" id="country" value="{% if a.country %}{{ a.country }}{% endif %}" name="country" >
            
        </td>
    
        <td>
            <label>Zip Code: </label>
        </td>
        <td>
            <input type="text" id="postal_code" value="{% if a.zipcode %}{{ a.zipcode }}{%endif%}" name="zipcode" maxlength="6" ><input type="hidden" id="lat" name="latitude" value="{% if a.lat %}{{a.lat}}{%endif%}"><input type="hidden" id="lng" name="longitude" value="{% if a.lng %}{{a.lng}}{%endif%}" ><input type="hidden" name="type" id="type" value="{% if a.typ %}{{a.typ}}{%endif%}">
            
    </tr>


    

    {% endfor %}
    <tr>
       
        <td colspan="4" style="text-align:center;">
            <p>
            <input type="submit" value="Update" class="btn btn-success" >
            <input type="reset" value="Reset" class="btn btn-info" >
            </p>
        </td>
    </tr>

    </table>
    </div>
	</form>
