
{% extends "base.html" %}


{% if user.is_authenticated %} 
{% ifequal user.usertype "employer" %} 
{% include "registration/headeremployer.html" %} 
{% else %} 
{% include "registration/headerjs.html" %} 
{% endifequal %} 
{% else %} 
{% include "registration/headerhome.html" %} {% endif %}


{% block title %}{% endblock %}

{% block content %}
{% load humanize %}



<h2>Account activation</h2>
{% if account %}
<p>Thanks for signing up! Now you can <a href="/accounts/EmpReg/">log in</a> and start contributing!</p>
{% else %}
<p>Either your activation link was incorrect, or the activation key for your account has expired; activation keys are only
valid for {{ expiration_days|apnumber }} days after registration.</p>
{% endif %}
{% endblock %}



{% include "registration/footer.html" %}