
{% extends "registration/base/jobseekerbase.html" %}

{% block content %}
<div class="container" style="min-height:495px;">
	<div class="thumbnail alert alert-info well well-small text-center" style="height:380px;">
		<div style="text-align:center;">
			<h2 class="text-info">Thank you for using iTechTalents.com</h2><br>
			<p><h4 class="text-success">Your registration has been completed Successfully.</h4></p><br>
			<p>An activation link has been sent to the email address you supplied, along with instructions for activating your account.</p>
		</div>
	</div>
</div>
{% endblock %}

