{% extends "registration/base/jobseekerbase.html" %}
{% block content %}
<div style="min-height:575px;" class="container">
	<div class="row">
		<div class="span12" style="text-align:left;">
			<h3 class="text text-info" style="border-bottom:2px solid #FFB812;">Upcoming Events</h3>
		</div>
	</div>
	<div class="row">
		<div class="span8 offset1" style="text-align:left;">
			<div class="">
				<div class="span8">
					<h4><a href="#">Multi Industry job Fair, New York</a></h4>
				</div>
			</div>
			<div class="row" style="text-align:left;">
				<div class="span2">
					<a href="#" class="thumbnail"><img src="http://placehold.it/260x180" alt=""></a>
				</div>
				<div class="span6">
					<p style="text-align:justify;">Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.</p>
					<p><a class="btn btn-info" href="#">Read more</a></p>
				</div>
			</div>
			<div class="">
				<div class="span8 text-warning">
					<p><i class="icon-calendar"></i> 16th & 17th August 2013</p>
				</div>
			</div>
		</div>
	</div><hr>
	<div class="row">
		<div class="span8 offset1" style="text-align:left;">
			<div class="">
				<div class="span8">
					<h4><a href="#">BPO Job Fair, Boston</a></h4>
				</div>
			</div>
			<div class="row" style="text-align:left;">
				<div class="span2">
					<a href="#" class="thumbnail"><img src="http://placehold.it/260x180" alt=""></a>
				</div>
				<div class="span6">
					<p style="text-align:justify;">Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.</p>
					<p><a class="btn btn-info" href="#">Read more</a></p>
				</div>
			</div>
			<div class="">
				<div class="span8 text-warning"><p></p><p><i class="icon-calendar"></i> 25,26,27 August 2013</p></div>
			</div>
		</div>
	</div><hr>
	<div class="row">
		<div class="span8 offset1" style="text-align:left;">
			<div class="">
				<div class="span8">
					<h4><a href="#">Multi Industry job Fair, New Jersy</a></h4>
				</div>
			</div>
			<div class="row" style="text-align:left;">
				<div class="span2">
					<a href="#" class="thumbnail"><img src="http://placehold.it/260x180" alt=""></a>
				</div>
				<div class="span6">
					<p style="text-align:justify;">Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.</p>
					<p><a class="btn btn-info" href="#">Read more</a></p>
				</div>
			</div>
			<div class="">
				<div class="span8 text-warning">
					<p><i class="icon-calendar"></i> 09th&12th September 2013</p>
				</div>
			</div>
		</div>
	</div><hr>
	<div class="row">
		<div class="span8 offset1" style="text-align:left;">
			<div class="">
				<div class="span8"><h4><strong><a href="#">UTC Aerospace Exclusive Job Fair, California</a></strong></h4></div>
			</div>
			<div class="row" style="text-align:left;">
				<div class="span2">
					<a href="#" class="thumbnail"><img src="http://placehold.it/260x180" alt=""></a>
				</div>
				<div class="span6">
					<p style="text-align:justify;">Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.</p>
					<p><a class="btn btn-info" href="#">Read more</a></p>
				</div>
			</div>
			<div class="">
				<div class="span8 text-warning">
					<p><i class="icon-calendar"></i> 14th November 2013</p>
				</div>
			</div>
		</div>
	</div><hr>
	<div class="row">
		<div class="span8 offset1" style="text-align:left;">
			<div class="">
				<div class="span8"><h4><strong><a href="#">Mckinsey Exclusive Job air, Florida</a></strong></h4></div>
			</div>
			<div class="row" style="text-align:left;">
				<div class="span2"><a href="#" class="thumbnail"><img src="http://placehold.it/260x180" alt=""></a></div>
				<div class="span6">
					<p style="text-align:justify;">Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam alutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.</p>
					<p><a class="btn btn-info" href="#">Read more</a></p>
				</div>
			</div>
			<div class="">
				<div class="span8 text-warning">
					<p><i class="icon-calendar"></i> 14th & 15th November 2013</p>
				</div>
			</div>
		</div>
	</div><hr>
	<div class="row">
		<div class="span8 offset1" style="text-align:left;">
			<div class="">
				<div class="span8"><h4><a href="#">Multi Industry job Fair, New York</a></h4></div>
			</div>
			<div class="row" style="text-align:left;">
				<div class="span2">
					<a href="#" class="thumbnail"><img src="http://placehold.it/260x180" alt="">
					</a>
				</div>
				<div class="span6">
					<p style="text-align:justify;">Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.</p>
					<p><a class="btn btn-info" href="#">Read more</a></p>
				</div>
			</div>
			<div class="">
				<div class="span8 text-warning">
					<p><i class="icon-calendar"></i> 16th & 17th August 2013</p>
				</div>
			</div>
		</div>
	</div><hr>
	<div class="row">
		<div class="span8 offset1" style="text-align:left;">
			<div class="">
				<div class="span8"><h4><a href="#">Multi Industry job Fair, New York</a></h4></div>
			</div>
			<div class="row" style="text-align:left;">
				<div class="span2"><a href="#" class="thumbnail"><img src="http://placehold.it/260x180" alt=""></a></div>
				<div class="span6"><p style="text-align:justify;">Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.</p><p><a class="btn btn-info" href="#">Read more</a></p></div>
			</div>
			<div class="">
				<div class="span8 text-warning"><p></p><p><i class="icon-calendar"></i> 17th & 18th August 2013</p></div>
			</div>
		</div>
	</div><hr>
</div>
{% endblock %}
