<div>
<h4>Why should I register with iTechTalents.com?</h4>
iTechTalents.com helps you find the right job matching your aspirations. Registering with iTechTalents.com enables you to:
<br>
<br>
<div style="padding-left:20px ">
1-  Access and apply in one-click to more than 1 lakh jobs
<br>
2-  Store and access your Resume online
<br>
3-  Get your CV viewed by over 35000 recuiters who will contact you with un-advertized jobs.
<br>
4-  Create multiple customized profiles and apply to a job using the most relevant profile.
</div>
<br>
<br>
<table cellspacing="6" cellpadding="0" border="0">
<thead>
<tr>
<th width="318" valign="top"> </th>
<th width="166" valign="top">Unregistered User</th>
<th width="155" valign="top">Registered User</th>
<td width="0"></td>
</tr>
</thead>
<tbody>
<tr>
<td width="318" valign="top">Access Jobs on iTechTalents.com</td>
<td width="166" valign="top" align="center">Y</td>
<td width="155" valign="top" align="center">Y</td>
</tr>
<tr>
<td width="318" valign="top">Apply to Jobs on iTechTalents.com</td>
<td width="166" valign="top" align="center">Y</td>
<td width="155" valign="top" align="center">Y</td>
</tr>
<tr>
<td width="318" valign="top">Apply to Jobs in One Click</td>
<td width="166" valign="top" align="center">N</td>
<td width="155" valign="top" align="center">Y</td>
</tr>
<tr>
<td width="318" valign="top">Get new jobs matching your profile on email</td>
<td width="166" valign="top" align="center">N</td>
<td width="155" valign="top" align="center">Y</td>
</tr>
<tr>
<td width="318" valign="top">Access to unadvertised jobs</td>
<td width="166" valign="top" align="center">N</td>
<td width="155" valign="top" align="center">Y</td>
</tr>
<tr>
<td width="318" valign="top">Create cover-letters and use them impress the recruiter</td>
<td width="166" valign="top" align="center">N</td>
<td width="155" valign="top" align="center">Y</td>
</tr>
<tr>
<td width="318" valign="top">Create multiple profiles</td>
<td width="166" valign="top" align="center">N</td>
<td width="155" valign="top" align="center">Y</td>
</tr>
<tr>
<td width="318" valign="top">Choice to get emails/calls directly from recruiters</td>
<td width="166" valign="top" align="center">N</td>
<td width="155" valign="top" align="center">Y</td>
</tr>
</tbody>
</table>
<br>
<br>
<a target="_parent" href="/accounts/login/">
<b>Register Your Resume with iTechTalents</b>
</a>

</div>
