<div>
<h4>How can I hide my CVNotes from recruiters ?</h4>
<p style="text-align:justify;">There is a check box to set the visibility setting of your CVNotes. The default state of CVNotes is to be displayed to recruiters and employers. If you check the box 'Hide my CVNotes from recruiters' and click on 'Save', then your CVNotes will become invisible to recruiters. You may want to hide your CVNotes from recruiters if you just want to store your workplace achievements for your appraisals, and not necessarily to showcase them to potential employers.</p>
<p>To display CVNotes, uncheck the box and click on 'Save' again. </p></div>
