<h4>How can I post my Resume?</h4>
<div style="text-align:justify;">
To post your Resume at iTechTalents.com, click on the ‘Post Resume’ on
<a href="/">www.iTechTalents.com</a>. This takes you to the next step of filling up your personal and professional details. These details are important information that the recruiters look for. Once you’ve completed this, your profile registered with us. This is your default profile which is sent across to the recruiters when you apply for a particular job vacancy. We highly recommend you to fill all details so that you present recruiters a resume that is comprehensive and one that gets you the jobs you are looking for.
<br>
<br>
<a target="_parent" href="/accounts/login/">
<b>Register Your Resume with iTechTalents</b>
</a>
</div>
