<h4>How can I update/edit my Profile?</h4>
<div style="text-align:justify;">
You can update your profile only after you login to iTechTalents.com. Once you have logged in to your account, you see a snapshot of your active/default profile and contact information. To edit your profile, click on the ‘View and Update’ link. You can make changes to your Profile by editing the relevant sections from the ‘View and Update’ page. It is recommended that you update your Profile regularly. Recruiters often contact only those candidates who have recently updated their profiles.
<br>
<br>
<a target="_parent" href="/accounts/login/">
<b>Login to Update Profile</b>
</a>

</div>
