<h4>Security Advice</h4>
<div>
<p align="center">
<strong style="font-size:14px">iTechTalents.com Security Advice</strong>
</p>
<p style="text-align:justify;">
iTechTalents.com is neither a recruitment firm nor do we act as labor consultants to, or employment partners of, any employer. The portal is used by numerous corporate, placement companies, and recruitment firms. The usage of our site is bound by a set of <a href="/accounts/TermsOfUse/">terms and conditions</a>
that the employers must agree and adhere to. One of the primary objectives of these Terms and Conditions is to discourage and prevent misuse and fraud.
<br>
<br>
Regrettably, sometimes, false job postings are listed online, and non-existing job offers are sent via email to illegally collect personal information and/or money from unsuspecting job seekers. To tackle such cases, we need your help to remain vigilant every day - when we receive complaints from jobseekers about fraudulent or suspicious emails, we promptly notify the concerned employer and, if necessary, block them from using our services.
<br>
<br>
<strong>We encourage you to be wary of emails that</strong>
</p>
<ul type="disc">
<li>ask your personal, non-work related information such as Credit Card numbers or Bank information over phone or email </li>
<li>do not provide valid contact information </li>
<li>ask for monetary transactions, money-transfers, or payment for any employment/recruitment related purpose </li>
<li>promise emigration and ask for money to process visa, etc </li>
</ul>
<p style="text-align:justify;">
Before you respond to such emails,
<strong>we suggest you to do a discreet enquiry and be sure to verify the legitimacy of the employer</strong>
with whom you are interacting. Please note that iTechTalents.com does not approve of, or represent any employer or recruiter sending such fraudulent communication, which in fact are a violation of the Terms and Conditions. We value the trust you place on iTechTalents.com and are committed to making your job search a safe and fraud-free experience on our site.
</p>
<p style="text-align:justify;">
If you have received (or receive) any such suspicious email communication from a possible iTechTalents client, do report it to us at
<a href="mailto:reportabuse@iTechTalents.com"> reportabuse@iTechTalents.com</a>
.
<br>
<br>
</p>
<hr width="500" size="1" color="#CCCCCC">
<strong style="font-size:14px; text-decoration:underline">
<br>
Educate yourself against Fraud/Scams
</strong>
<br>
<br>
<p style="text-align:justify;">We encourage you to read the following and make yourself aware of the warning signs of the most common kinds of Internet and Email frauds.</p>
<br>
<br>
<p style="text-align:justify;">There are two types of email scams – 'phishing' and 'spoofing'. In both the cases, the 'from address' is forged to make it appear as if it came from a source that it actually did not come from.</p>
<br>
<br>
<strong>What is Phishing?</strong>
<br>
<p style="text-align:justify;">Phishing is an attempt by fraudsters to 'fish' for your personal details. A phishing attempt is usually in the form of an e-mail, which encourages you to click a link that takes you to a fraudulent log-on page designed to capture your account/password/personal details. These emails can also be used to lure the recipient into downloading harmful software. Please note that iTechTalents.com will never ask you to download software in order to access your account.</p>
<br>
<br><p style="text-align:justify;">
More information about Phishing scams and how you can protect yourself against them is available here
<a target="_blank" href="http://www.antiphishing.org/consumer_recs.html"> http://www.antiphishing.org/consumer_recs.html </a></p>
<br>
<br>
<strong>What is Spoofing?</strong>
<br>
<p style="text-align:justify;">Spoof emails usually include a fraudulent offer of employment and/or an invitation to perform a monetary transaction. Such email scams are, unfortunately, common across the world and could target anyone - including unsuspecting jobseekers who have registered with iTechTalents.com. The sender's address is often disguised and/or the sender may not have provided the entire contact information, such as, the correct physical address, phone numbers and email ID.</p>
<br>
<br><p style="text-align:justify;">
The precautionary measures jobseekers could take to protect themselves against suspected spoof emails have been mentioned above.</p>
<br>
<br>
<strong>How can you check if an employer or a recruiter is a fraud or genuine?</strong>
<br><p style="text-align:justify;"> 
Below are a few things we can suggest you could try (you are encouraged to exhaust all possible ways, not just be limited to the following) to ascertain the legitimacy of the employers who contact you:</p>p>
<ol type="1">
<li>Have you heard the name of the company before? </li>
<li>Do you remember applying to this particular company or did the offer come unsolicited? </li>
<li><p style="text-align:justify;">Does the domain name in their email address match the name of the company? For example if you get a job offer from XYZ Petroleum Company, and their email ID is xyzpetroleum@gmail.com or xyzpetroleum@yahoo.com then it’s a fake company. Real companies use their own domain name on their email, and do not use free email providers. </li></p>
<li><p style="text-align:justify;">Search on Yahoo, Google or MSN to see if the company has a genuine website. Also check if other people have reported that the employer has been involved in job scams previously. </li></p>
<li><p style="text-align:justify;">Note the country that company claims to be working in, and offering you a job in. Most fake companies offer scam jobs in Africa, Middle East, Asia, South America, and to a much smaller extent, US or Western Europe. </li></p>
<li><p style="text-align:justify;">Find out if you need to pay the company for anything. If they ask you to pay - at first or even after some time - for visa, work permit or for travel, chances are it's a fake company. </li></p>
</ol><p style="text-align:justify;">
Remember, If you have received (or receive) any such suspicious email communication from a possible iTechTalents client, do not hesitate to report it to us at
<a href="mailto:reportabuse@iTechTalents.com"> reportabuse@iTechTalents.com</a>
. You can also block the employer from contacting you in future, from your Account Settings.</p>
</div>
