<h4>I forgot my username/password. How can I retrieve it?</h4>
<div>
<p style="text-align:justify;">In case you wish to retrieve your username, please enter your master email-id (the email id used for registration with iTechTalents.com) in the “Master Email” text box and click on “Send Username” button. We’ll email you your account details.</p>
<p style="text-align:justify;">If you wish to retrieve your password, please enter your user name in the “Username” text box and click on “Send Password” button. We’ll email you your account details.</p>
<p style="text-align:justify;">
If you do not remember either your username or the email id with which you had registered for a iTechTalents recruiter account, please get in touch with us at
<a href="mailto:bugs@iTechTalents.com">bugs@iTechTalents.com</a>
. Alternatively, please contact us at any of our branch offices.
</p>
</div>
