<h4>Why do I keep getting logged out of my account?</h4>
<p>If you have been logged out of your iTechTalents account, it is probably because: </p>
<div >
<ul>
<li>
You have not used the application since 1 hour after you logged in and your login session has expired.
<br>
<br>
[Note: It is always recommended click on the “Logout” link at the top after you finish using iTechTalents services. This is to avoid any timeouts and prevent unsaved changes from being lost].
<br>
<br>
OR
</li>
<li>You do not have cookies enabled on your browser. You will need to enable cookies and then login again.</li>
</ul>
</div>
