<html>
<head>
  <style type="text/css">
  .container
  {
    width: 1200px;
    margin: auto;
    padding: 0px;
  }
  .span3
  {
    width: 280px;
  }
  </style>
</head>
<body>
<div class="extra">
<div class="container">
<div class="row">
<div class="span3">
<h4>About</h4>
<ul>
<li>
<a href="/accounts/AboutUs/">About Us</a>
</li>
<li>
<a href="/accounts/TechNews/">TechNews</a>
</li>
<li>
<a href="/accounts/MarketReport/">Market Report</a>
</li>
<li>
<a href="/accounts/PressRelease/">Press Release</a>
</li>
</ul>
</div>
<div class="span3">
<h4>Support</h4>
<ul>
<li>
<a href="/accounts/FAQ/">Frequently Asked Questions</a>
</li>
<li>
<a href="/accounts/Sitemap/">Site map</a>
</li>
<li>
<a href="/accounts/Help/">Help</a>
</li>
<li>
<a href="/accounts/Feedback/">Feedback</a>
</li>
</ul>
</div>
<div class="span3">
<h4>Legal</h4>
<ul>
<li>
<a href="javascript:;">License</a>
</li>
<li>
<a href="/accounts/TermsOfUse/">Terms of use</a></li>
</li>
<li>
<a href="/accounts/Privacy&Policy/">Privacy Policy</a>
</li>
<li>
<a href="/accounts/ContactUs/">Contact Us</a>
</li>
</ul>
</div>
<div class="span3">
<h4>Settings</h4>
<ul>
<li>
<a href="javascript:;">Jobseeker</a>
</li>
<li>
<a href="javascript:;">Empoyer </a>
</li>
<li>
<a href="javascript:;">Quorum</a>
</li>
<li>
<a href="javascript:;">Feeds</a>
</li>
</ul>
</div>
</div>
<p style="text-align:center; padding-top:10px;">All rights reserved © 2013 iTechTalents</p>
</div>
</div>

</body>
</html>