
<div id="footerhome">
   <div style="width:1200px; border:0px solid black;padding:0px;margin:auto;">
  <ul style="list-style:none;">
     <li class="foot"><a href="/accounts/Privacy&Policy/">Privacy Policy</a></li>
     <li class="foot"><a href="/accounts/Sitemap/">Sitemap</a></li>
     <li class="foot"><a href="/accounts/FAQ/">FAQ</a></li>
     <li class="foot"><a href="/accounts/TermsOfUse/">Terms & Conditions</a></li>
     <li class="foot"><a href="/accounts/Feedback/">Feedback</a></li>
     <li class="foot"><a href="/accounts/TechNews/">TechNews</a></li>
     <li class="foot"><a href="/accounts/MarketReport/">Market Report</a></li>
     <li class="foot"><a href="/accounts/PressRelease/">Press Release</a></li>
     <li class="foot"><a href="/accounts/AboutUs/">About Us</a></li>
     <li class="foot"><a href="/accounts/Help/">Help</a></li>
     <li class="foot"><a href="/accounts/ContactUs/">Contact Us</a></li>
  </ul>

  <p style="text-align:center; padding-top:10px;">All rights reserved © 2013 iTechTalents</p>
</div>
</div>

</body>
</html>