	<style type="text/css">
	.container
	{
		width: 1200px;
		margin: auto;
		padding: 0px;
	}
	.span3
	{
		width: 200px;
	}
	</style>
{% load i18n %}
<div class="extra">
	<div class="container">
		<div class="row">
		<div style="padding-left:80px;">
			<div class="span3" style="text-align:left;">
				<h4>{% trans "About" %}</h4>
				<ul>
					<li><a href="/accounts/AboutUs/">About Us</a></li>
					<li><a href="/accounts/TechNews/">TechNews</a></li>
					<li><a href="/accounts/MarketReport/">Itech's Talent Report</a></li>
					<li><a href="/accounts/PressRelease/">Press Release</a></li>
				</ul>
			</div>

			<div class="span3" style="text-align:left;">
				<h4>Support</h4>
				<ul>
					<li><a href="/accounts/FAQ/">FAQ's</a></li>
					<li><a href="/accounts/sitemap/">Site map</a></li>
					<li><a href="/accounts/Help/">Help</a></li>
					<li><a href="/accounts/Feedback/">Feedback</a></li>
				</ul>
			</div>

			<div class="span3" style="text-align:left;">
				<h4>Legal</h4>
				<ul>
					<li><a href="/accounts/copyright/">Copyright</a></li>
					<li><a href="/accounts/TermsOfUse/">Terms of use</a></li>
					<li><a href="/accounts/Privacy&Policy/">Privacy Policy</a></li>
					<li><a href="/accounts/ContactUs/">Contact Us</a></li>
				</ul>
			</div>

			<div class="span3" style="text-align:left;">
				<h4>Advertising</h4>
				<ul>
					<li><a href="/accounts/JobFair/">JobFair</a></li>
					<li><a href="/accounts/Testmonial/">Testimonial</a></li>
					<li><a href="/accounts/Events/">Events</a></li>
					<li><a href="/accounts/Webinars/">Webinars</a></li>
				</ul>
			</div>

			<div class="span3" style="text-align:left;">
				<h4>Jobs</h4>
				<ul>
					<li><a href="/accounts/JobsType/">Jobs by Type</a></li>
					<li><a href="/accounts/JobsCity/">Jobs by Location</a></li>
					<li><a href="/accounts/JobsCompany/">Jobs by Company</a></li>
					<li><a href="/accounts/JobsCategory/">Jobs by Category</a></li>
				</ul>
			</div>
			</div>
		</div>
		<div class="row">
			<div class="span12" style="padding-top:10px;">All rights reserved © 2013 iTechTalents</div>
		</div>
	</div>
</div>
