{% extends "registration/base/jobseekerbase.html" %}
{% block content %}
<script type="text/javascript">$(document).ready(function()
	{
		$("#question").hide();
		$("#question1").hide();
	});
</script>
<div style="min-height:495px;" class="container">
	<div class="row-fluid" >
		<div class="span12">
			<div class="" id="loginModal">
					<div class="well alert alert-info">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#login" data-toggle="tab">Forgot Username</a></li>
							<li><a href="#create" data-toggle="tab">Forgot Password</a></li>
						</ul>
						<div id="myTabContent" class="tab-content">
							{% if messages %}{% for message in messages %}<div class="alert alert-{{ message.tags }}">{{message}}</div>{% endfor %}{% endif %}
							<div class="tab-pane active in" id="login">
								<form action="/accounts/ForgotUsernameEmp/" method="post" class="form-horizontal" name="forgotusernameform">{% csrf_token %}
									<fieldset>
										<div id="legend"><legend>Forgot Username</legend></div>
										<div class="control-group"><div class="controls"><label class="input-xlarge emailalert1" id="emailalert1"></label></div></div>
										<input type="hidden" name="usertype" value="employer">
										<div class="control-group"><label class="control-label">Registered Email<sup>*</sup></label>
										<div class="controls"><div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span><input type="text" id="email1" name="email1" class="input-xlarge" placeholder="your@email.com" required /></div></div></div>
										<div class="control-group"><label class="control-label">Security Question<sup>*</sup></label>
										<div class="controls">
										<!-- <input tupe="text" class="commonlength1 required input-xlarge" id="ques1" name="ques1"> -->
										<label id="ques1" name="ques1"></label><!-- <select name="selectquestion1" id="selectquestion1" class="commonlength required" required>
										<option value="">Select Security Question</option>
                                    	<option value="1">What is your first grade class teacher name?</option>
                                    	<option value="2">What is your best friend's last name?</option>
                                    	<option value="3">What street name you lived when you born?</option>
                                    	<option value="4">What is your grand father's last name?</option>
                                    	<option value="5">Set your own security questions</option></select> -->
                                    	</div>
                                    	<p><div class="controls"><input type="text" name="question1" id="question1" value="" placeholder="Your security questions" class="commonlength1 required"></div></p></div>
                                    	<div class="control-group"><label class="control-label">Answer<sup>*</sup></label><div class="controls"><input id="answer" name="answer1" type="text" value="" placeholder="Your answer" class="commonlength1 required" required><span id="validateanswer"></span></div></div>

										<div class="control-group"><!-- Button -->
										<div class="controls"><input type="submit" value="Submit Now !" id="sub1" class="btn btn-large btn-info" disabled/></div>
										</div>
									</fieldset>
								</form>
							</div>
							<div class="tab-pane fade" id="create">
							<form id="tab" action="/accounts/ForgotPasswordEmp/" method="post" class="form-horizontal" name="forgotpasswordform">{% csrf_token %}
								<fieldset>
									<div id="legend"><legend>Forgot Password</legend></div>
									<div class="control-group"><div class="controls"><label class="input-xlarge emailalert" id="emailalert"></label></div></div>
									<input type="hidden" name="usertype" value="employer">
									<div class="control-group"><label class="control-label">Registered Email<sup>*</sup></label>
									<div class="controls"><div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span><input type="text" id="email" name="email" class="input-xlarge" placeholder="your@email.com" required /></div></div></div>
									<div class="control-group"><label class="control-label">Security Question<sup>*</sup></label>
									<div class="controls">
									<!-- <input tupe="text" class="commonlength1 required input-xlarge" id="ques" name="ques"> -->
									<label id="ques" name="ques"></label>
									<!-- <select name="selectquestion" id="selectquestion" class="commonlength required" required>
									<option value="">Select Security Question</option>
                                    <option value="1">What is your first grade class teacher name?</option>
                                    <option value="2">What is your best friend's last name?</option>
                                    <option value="3">What street name you lived when you born?</option>
                                    <option value="4">What is your grand father's last name?</option>
                                    <option value="5">Set your own security questions</option></select> -->
                                    </div>
                                    <p>
                                    <div class="controls"><input type="text" name="question" id="question" value="" placeholder="Your security questions" class="commonlength1 required"></div></p></div>
                                    <div class="control-group"><label class="control-label">Answer<sup>*</sup></label>
                                    <div class="controls"><input id="answer" name="answer" type="text" value="" placeholder="Your answer" class="commonlength1 required" required><span id="validateanswer"></span></div></div>
                                    <div class="controls"><input type="submit" value="Submit Now !" id="sub" class="btn btn-large btn-info" disabled/></div>
								</fieldset>
							</form>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block extrajavascript %}
<style type="text/css">
.commonlength{
	width: 310px;
}
.commonlength1{
	width: 300px;
}
sup{
	color:red;
}
</style>
<script type="text/javascript">

$(document).ready(function()
	{
		$("#email1").change(function()
			{
				var emailstring = $("#email1").val();
				var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
				if (!emailReg.test(emailstring))
					{
						$("#emailalert1").html('<div class="alert alert-error"><button class="close" data-dismiss="alert" type="button">×</button>Not a valid Email</div>');
						return false;
					}
				else
					{
						/*var CSRF_TOKEN = document.getElementById('csrf_token').value;*/
						$.ajax({
							type:'GET',
							data:{email:emailstring},
							url:'/accounts/securityques/',
							success:function(data) {
								$('#ques1').html(data.question);
							}
						});
						/*return true;*/
					}
				$('#sub1').removeAttr('disabled');
			});
		$("#email").change(function()
			{
				var emailstring = $("#email").val();
				var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
				if (!emailReg.test(emailstring))
					{
						$("#emailalert").html('<div class="alert alert-error"><button class="close" data-dismiss="alert" type="button">×</button>Not a valid Email</div>');
						return false;
					}
				else
					{
						/*var CSRF_TOKEN = document.getElementById('csrf_token').value;*/
						$.ajax({
							type:'GET',
							data:{email:emailstring},
							url:'/accounts/passsecurityques/',
							success:function(data) {
								$('#ques').html(data.question);
							}
						});
						/*return true;*/
					}
				$('#sub').removeAttr('disabled');
			});
		/*$("#sub1").click(function()
			{
				var emailstring = $("#email1").val();
				alert(emailstring);
				var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
				if (!emailReg.test(emailstring))
					{
						$(".emailalert1").html('<div class="alert alert-error"><button class="close" data-dismiss="alert" type="button">×</button>Not a valid Email</div>');
						return false;
					}
				else
					{
						return true;
					}
			});

		$( "#selectquestion" ).change(function (){
            str= $(this).val();
            if(str==1){$("#question").hide().val("What is your first grade class teacher name?");}
            else if(str==2){$("#question").hide().val("What is your best friend's last name?");}
            else if(str==3){$("#question").hide().val("What street name you lived when you born?");}
            else if(str==4){$("#question").hide().val("What is your grand father's last name?");}
            else if(str==5){$("#question").show().val("");}
            else{$( "#question" ).hide().val("");}
            
        });

       $( "#selectquestion1" ).change(function (){
            str= $(this).val();
            if(str==1){$("#question1").hide().val("What is your first grade class teacher name?");}
            else if(str==2){$("#question1").hide().val("What is your best friend's last name?");}
            else if(str==3){$("#question1").hide().val("What street name you lived when you born?");}
            else if(str==4){$("#question1").hide().val("What is your grand father's last name?");}
            else if(str==5){$("#question1").show().val("");}
            else{$( "#question1" ).hide().val("");}
            
        });*/
	});
</script>
{% endblock %}




