<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> 
      </a>
      <a class="brand" href="/">iTechTalents</a>
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav nav-li-a">
          <li class="dropdown"><a href='/js/Dashboard/' class="dropdown-toggle" >My Profile</a></li>
          <li class="dropdown"><a href='/accounts/MyApplications/' class="dropdown-toggle" >My Jobs</a></li>

          <li class="dropdown"><a class="dropdown-toggle" href="/accounts/MyInterviewZone/">Interview Zone</a></li>
          <li class="dropdown"><a class="dropdown-toggle" href="/accounts/BlogTopics/">Blog</a></li>
          <li class="dropdown"><a class="dropdown-toggle" href='/forum/'>Forum</a></li>
          <li class="dropdown"><a class="dropdown-toggle" href="/feeds/">Techno Feeds</a></li>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-large"></i> {{ request.user.username|truncatewords:11 }}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href='/accounts/ProfileVisibility/'>Visibility Settings</a></li>
            <li><a  href="/accounts/CareerPlus/">Career Services</a></li>
              {% if request.user.checksocial_login.loginflag %}
              <li><a href='/accounts/JSChangePassword/'><span>Change Password</span></a></li>
            {% endif %}
              <li><a data-toggle="modal" href="/accounts/Logout/"><i class="icon-off"></i>&emsp;SignOut</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="background-color:#6E6E6E;">
    <div class="row-fluid" style="color:#E6E6E6">
      <div class="span9"><div class="ticker1 modern-ticker mt-round"><div class="mt-label">Tech News :</div><div class="mt-news"><ul><li><a href="/accounts/TechNews/" target="_self">Google Open Source Program Manager Chris DiBona: Best of Both Worlds</a></li><li><a href="/accounts/TechNews/" target="_self">The Cloud: It's Not Just a Technology - It's a Catalyst</a></li><li><a href="/accounts/TechNews/" target="_self">IBM Builds Traffic Cop for Internet of Things</a></li><li><a href="/accounts/TechNews/" target="_self">Improving IT Ops Service Levels and Efficiency</a></li></ul></div></div></div>
    </div>        
  </div>
</div>