<table border="1" width="90%" cellspacing="1" cellpadding="1" bgcolor="#B7B9B8">
<tr>
<td width="20%" align="center">
<br />
<table border="0" bgcolor="#4EDABE">
<tr>
<td>
<p>ITECH</p>
<p>&emsp;TALENT</p>
</td>
</tr>
</table>
<br />
</td>

<td width="20%" align="center">
<select>
 <option>ITech</option>
</select>
</td>

<td align="center" width="30%">
<select>
 <option>Post Job and Find Candidate</option>
</select>
</td>


<td width="20%" align="center">
<p><input type="button" value="LogOut" /></p>
</td>

</tr>
</table>
<br />

<h4>Edit Job</h4>
<p>Job Owner: &emsp;&emsp;<input type="text" size="40" />&emsp;&emsp;Group Identifier:&emsp;54321</p>

<br />

<h4> Job Title and Number</h4>
<p>Job Title: &emsp;&emsp;<input type="text" size="40" />&emsp;&emsp;Job Number: &emsp;12345</p>

<br />
<h4>Categorization</h4>
<table width="80%">
<tr>

<td width="40%">
<p>Position Type</p>
<p><textarea name="text" cols="60" rows="10"></textarea></p>
</td>

<td width="40%">
<table>
<tr>

<td width="20%">
<p>Pay Rate:</p>
<p><input type="text" size="20" /></p>
</td>

<td width="20%">
<p>Required Travel: </p>
<p><input type="text" size="20" /></p>
</td>

<td width="20%">
<p>Job length: </p>
<p><input type="text" size="20" /></p>
</td>
</tr>
</table>

<p><input type="checkbox"> Telecommuting Postion</input></p>
</td>
</tr>
</table>
<br />

<h4>Application Method</h4>
<p>&emsp;&emsp;Choose your preferred mathod to receive  applications, Use apply to URL only if you want to direct candidate to application form on your website.</p>


<p><input type="radio" />&nbsp;Apply-to Email&emsp;&emsp;&emsp;&emsp;<input type="radio" />Apply-to URL&emsp;&emsp;&emsp;&emsp;<input type="radio"/>ITech Application Tracking</p>

<table width="40%">
<tr>
<td>
<p>E-Mail</p>
<p>CC E-mail</p>
</td>

<td>
<p><input type="text" size="30" /></p>
<p><input type="text" size="25" /></p>
</td>
</tr>
</table>
<br />

<br />


<table width="90%">
<tr>
<td width="45%">
<p><b>Questionnaire: </b></p>
<p><textarea name="text" cols="50" rows="5"></textarea></p>
<p><a href=""><input type="button" value="Create Questionnaire"/></a></p>
</td>

<td width="45%">
<p><b>Auto Responce</b></p>
<p><textarea name="text" cols="50" rows="5"></textarea></p>
<p><a href=""><input type="button" value="Create Auto responce"/></a></p>
</td>

</tr>
</table>
<br />
<h4>Location</h4>

<table width="90%">
<tr>

<td width="30%">
<p>Job City: &emsp;&emsp;<input type="text" size="25" />
</p>
</td>

<td width="30%">
<p>Job State/Province&emsp;&emsp;<input type="text" size="25" /></p>
</td>

<td width="30%">
<p>Job Country:&emsp;&emsp;<input type="text" size="25" /></p>
</td>

</tr>
</table>
<br />

<p> Job Area Code &emsp;&emsp;<input type="text" size="25" />&emsp;<a href="">Area code Lookup</a></p>
<br />
<p>Jop Postal Code&emsp;&emsp;<input type="text" size="25" />&emsp;<a href="">postal code Lookup</a></p>

<br />

<h4>Job Details</h4>

<p>Required Skills: Enter Keywords required for position.</p>
<p><input type="text" size="200" /></p>

<br />

<p>Job Description&emsp;&emsp;&emsp;&emsp;<a href="">Check Spelling</a></p>

<p><textarea name="text" cols="150" rows="15"> Edit Tools: </textarea></p>

<br />

<p>Job Notes: </p>
<p><textarea name="text" cols="150" rows="8"></textarea></p>

<p align="center"><input type="button" value="Continue"/>
</p>

<p align="center">Follow Us:&emsp;&emsp;<a href="https://www.facebook.com/">Facebook</a> | <a href="">Twitter</a> | <a href="">Linkedin</a> | <a href="">Google</a></p>