{% extends "registration/base/jobseekerbase.html" %}
{% block extrahead %}<style type="text/css">.type{border-bottom: 2px solid #FFAF21;}</style>{% endblock %}
{% block content %}
<div style="min-height:590px;" class="container">
  <div class="row">
    <div class="span8 offset2" style="text-align:left;">
      <h3 class="text text-info type">Jobs by Category</h3>
      <table class="table table-striped well">
        <thead>
          <tr>
            <th>Category Name</th>
            <th>Number of Jobs</th>
          </tr>
        </thead>
        <tbody>
          {% if jobcat %}
          {% for d3 in jobcat %}
          <tr>
            <td><a style="text-decoration:none;" href="/accounts/CompanyList/{{d3.industry}}/" >{{ d3.industry}}</a></td>
            <td>{{ d3.count }} jobs</td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="2" style="text-align:center;">There is no jobs posted ...</td>
          </tr>
          {% endif %}
          </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}