

{% extends "registration/base/headerbasenosearch.html" %}


{% block content %}



	<div style="width:1200px;padding:0px;margin:auto;" class="outerdiv">
	

<h4> <u>Upcoming Events in February 2013</u></h4>

<table border="0" width="99%">
<tr>
<td>
<table border="1" width="80%">
<tr>
<td align="center">
<p>22</p>
<p>Fri</p>
<p>Feb</p>
</td>
</tr>
</table>
</td>

<td>
<p><a href="">Mckinsey Exclusive job Fair - Chennai</a></p>
</td>

</tr>
</table>

<br />
<br />

<table border="0" width="99%">
<tr>
<td>
<table border="1" width="80%">
<tr>
<td align="center">
<p>23</p>
<p>Sat</p>
<p>Feb</p>
</td>
</tr>
</table>
</td>
<td>
<p><a href="">Mckinsey Exclusive job Fair - Hyderabad</a></p>
</td>
</tr>
</table>

<br />
<br />

<table border="0" width="99%">
<tr>
<td>
<table border="1" width="55%">
<tr>
<td align="center">
<p>24</p>
<p>Mon</p>
<p>Feb</p>
</td>
</tr>

</table>
</td>
<td>
<p><a href="">Multi Industry Job Fair - Pune</a></p>
</td>
</tr>
</table>
<br />


<h3><u>More UpComing Events in 2013</u></h3>


<table border="0" width="90%">
<tr>
<td>
<p><b>Locations</b></p>
<p>Chennai</p>
<p>Pune</p>
<p>Delhi</p>
<p>Nagpur</p>
<p>hyderabad</p>
</td>

<td>
<p><b>Even Title - Description</b></p>
<p>Mckinsey Exclusive Job Fair</p>
<p>UTC Aerospace Exclusive Job Fair </p>
<p>Multi Industry job Fair </p>
<p>BPO Job Fair</p>
<p>Multi Industry job Fair </p>
</td>


<td>
<p><b>Even Date</b></p>
<p>16th May 2013</p>
<p>16th & 17th May 20132</p>
<p>23rd & 24th May 2013</p>
<p>06th & 07th June 2013</p>
<p>10rd & 11th June 2013</p>
</td>

</tr>
</table>

<br />
<br />

<h4><u>More way To Find Your Job</u></h4>

<table width="90%" border="0">
<tr>
<td>
<p><b>Job by Function</b></p>
<p><a href="/accounts/SearchResult/">Fresher jobs</a></p>
<p><a href="/accounts/SearchResult/">BPO Jobs</a></p>
<p><a href="/accounts/SearchResult/">bank Jobs</a></p>
<p><a href="/accounts/SearchResult/">Sales</a></p>
<p><a href="/accounts/SearchResult/">All Functional Area</a></p>

</td>

<td>
<p><b>IT Jobs Skills</b></p>
<p><a href="/accounts/SearchResult/">Java Jobs</a></p>
<p><a href="/accounts/SearchResult/">.Net joba</a></p>
<p><a href="/accounts/SearchResult/">Sql Server Jobs</a></p>
<p><a href="/accounts/SearchResult/">Apache</a></p>
<p><a href="/accounts/SearchResult/">Oracle Jobs</a></p>
<p><a href="/accounts/SearchResult/">All Skills</a></p>
</td>


<td>

<p><b>Job By City</b></p>
<p><a href="/accounts/SearchResult/">Bangalure Jobs</a></p>
<p><a href="/accounts/SearchResult/">Mumbai Jobs</a></p>
<p><a href="/accounts/SearchResult/">Noida</a></p>
<p><a href="/accounts/SearchResult/">Chennai Jobs</a></p>
<p><a href="/accounts/SearchResult/">New Delhi</a></p>
<p><a href="/accounts/SearchResult/">All Locations</a></p>
</td>





</tr>
</table>

</td>
</tr>
</table>
</div>
{% endblock %}