
{% extends "registration/base/jobseekerbase.html" %}
{% block content %}
<div class="container" style="min-height:495px;">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success">{{message}}</div>
    {% endfor %}
    {% endif %}
    <div class="row">
        <div class="span4 offset4 well">
            <legend>Change Password</legend>
                  
            <form action="/accounts/JSChangePassword/" method="POST" name="ChangePassForm" accept-charset="UTF-8">{% csrf_token %}
                {% if form.oldpassword.errors %}
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">×</a>{{ form.oldpassword.errors|join:", " }}
            </div>
            {% endif %}
                {{ form.oldpassword }}
                {% if form.password1.errors %}
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">×</a>{{ form.password1.errors|join:", " }}
            </div>
            {% endif %}
                {{ form.password1 }}
                {% if form.password2.errors %}
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">×</a>{{ form.password2.errors|join:", " }}
            </div>
            {% endif %}
                {{ form.password2 }}
                <button type="submit" name="submit" class="btn btn-info btn-block">Change Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

