<table border="1" width="90%" cellspacing="1" cellpadding="1">

<tr>
<th>Home</th>
<th>Job posting</th>
<th>Search</th>
<th>Personal Folder</th>
</tr></table>

<table>

<p>Job Posting >> <a href>Post a job</a> |  Manage job postings </p>

</table>

<table>
<p align="left"><h3> Manage Job Posting Folder</h3></p>
</table>


<table>
<p> &emsp;&emsp;&emsp;&emsp;Search for folder</p>
<p> &emsp;&emsp;&emsp;&emsp;Folder Name <input type="text"/> Date range: from <input type="text" value="03/02/2013"/> To <input type="text" value="11/10/2014"/> <input type="button" value="go"/></p>


</table>

<table>
<p>&emsp;&emsp;&emsp;&emsp;Recent Folder</p>
</table>

<table border="1" width="90%" cellspacing="1" cellpadding="1">

<tr>

<th>View Folder</th>
<th>Edit</th>
<th>Copy</th>
<th>Renew</th>
<th>Expire</th>
<th>Download Excel</th>
<th>Rename</th>
<th>Delete</th>
<th>Preview</th>

</tr>

</table>

</br></br></br>


<table align="center">
<tr>
<td><p><th> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Page 1 of 1 Go to Page <input type="text"/> <input type="button" value=">>">
</th></p></td></tr></table>

<table width="100%" border="1">
<tr>
<td>
<p><input type="checkbox"/>Folder Name</p>
<p><input type="checkbox"/>Python Developer</p>
<p><input type="checkbox"/>Android Developer</p>
<p><input type="checkbox"/>System Admin</p>
</td>

<td>
<p><b>Views</b></p>
<p>54</p>
<p>105</p>
<p>15</p>
</td>

<td>
<p><b>Applications</b></p>
<p>45</p>
<p>70</p>
<p>12</p>
</td>

<td>
<p><b>Created on</b></p>
<p>12 Feb 2013</p>
<p>20 Feb 2013</p>
<p>02 Feb 2013</p>
</td>

<td>
<p><b>Auto Match</b></p>
<p>Active</p>
<p>Inactive</p>
<p>Active</p>
</td>
</tr></table>

<br/><br/>


<table width="100%" border="1">
<tr>
<td>
<p><b>For Employers</b></p>
<p> <a href>Home</a></p>
<p><a href>By Job Postings</a></p>
<p><a href>By Resume Database Access</a></p>
<p><a href>Talent Management Suite</a></p>
<br/>
</td>


<td>
<p><b>Job Posting</b></p>
<p><a href>Post a Job</a></p>
<p><a href>Manage Job Posting</a></p>
<p><a href>Manage Screening Questionnaries</a></p>
<br/><br/>
</td>

<td>
<p><b>Resume Search</b></p>
<p><a href>Magic Search</a></p>
<p><a href>Power Search</a></p>
<p><a href>IT Skills Search</a></p>
<p><a href>Search by Role</a></p>
<br/>
</td>

<td>
<p><b>Account Setting</b></p>
<p><a href>Change password</a></p>
<p><a href>ITech Shortcuts</a></p>
<p><a href>Manage Letter</a></p>
<p><a href>Modify Company Profile</a></p>

<p><a href>Manage User</a></p>
</td>

<td>
<p><b>About Our Site</b></p>
<p><a href>Contact Us</a></p>
<p><a href>About ITech</a></p>
<p><a href>Security Center</a></p>
<p><a href>Teams of Use</a></p>

<p><a href>Report a Bug</a></p>
</td>





</tr>
</table>
