{% extends "registration/base/jobseekerbase.html" %}
{% block content %}
<div class="container" style="min-height:580px;">
	<div class="row-fluid">
		<div class="span12">
			<h3 class="text text-info" style="border-bottom:2px solid #FFB812;">ItechTalent Market Report</h3>
			<br>
	    	<div>
	    		<strong>April 2013: ItechTalent Reports</strong>
	    		<p>The job market for technology professionals, for several years a prominent driver of economic recovery in the United States, appears poised to create additional jobs in the second half of 2013 <a href="#">continue…</a></p>
	    	</div>
	    	<div>
	    		<strong>March 2013: ItechTalent Reports</strong>
	    		<p>The job market for technology professionals, for several years a prominent driver of economic recovery in the United States, appears poised to create additional jobs in the second half of 2013 <a href="#">continue…</a></p>
	    	</div>
	    	<div>
	    		<strong>Feb 2013: ItechTalent Reports</strong>
	    		<p>The job market for technology professionals, for several years a prominent driver of economic recovery in the United States, appears poised to create additional jobs in the second half of 2013 <a href="#">continue…</a></P>
	    	</div>
	    	<div>
	    		<strong>Jan 2013: ItechTalent Reports</strong>
	    		<p>The job market for technology professionals, for several years a prominent driver of economic recovery in the United States, appears poised to create additional jobs in the second half of 2013 <a href="#">continue…</a></P>
	    	</div>
	    	<div>
	    		<strong>Dec 2012: ItechTalent Reports</strong>
	    		<p>The job market for technology professionals, for several years a prominent driver of economic recovery in the United States, appears poised to create additional jobs in the second half of 2013 <a href="#">continue…</a></P>
	    	</div>
	    	<div>
	    		<strong>Nov 2012: ItechTalent Reports</strong>
	    		<p>The job market for technology professionals, for several years a prominent driver of economic recovery in the United States, appears poised to create additional jobs in the second half of 2013 <a href="#">continue…</a></P>
	    	</div>
	    	<div>
	    		<strong>Oct 2012: ItechTalent Reports</strong>
	    		<p>The job market for technology professionals, for several years a prominent driver of economic recovery in the United States, appears poised to create additional jobs in the second half of 2013 <a href="#">continue…</a></P>
	    	</div>
	    	<div>
	    		<strong>Sep2012	: ItechTalent Reports</strong>
	    		<p>The job market for technology professionals, for several years a prominent driver of economic recovery in the United States, appears poised to create additional jobs in the second half of 2013 <a href="#">continue…</a></P>
	    	</div>
	    </div>
	</div>
</div>
{% endblock %}
