<table border="1"    width="99%"   cellpadding="1" cellspacing="1">



<tr>

    <th><h2>Home</h2></th>

    <th><h2>Search jobs</h2></th>

    <th><h2>My Profile</h2></th>

    <th><h2>Career Plus</h2></th>

    <th><h2>Job Fairs</h2></th>

    <th><h2>Mobile</h2></th>

</tr>
</table>

<br />

<table width="80%">

<th>IPHONE</th>

    <th><u>Android</u></th>

    <th>WAP</th>

    <th>J2ME</th>

    <th>SMS</th>
</table>


<br /> <br />
<table>

<tr>

<p>&emsp;&emsp;&emsp;&emsp;Account Login with auto login feature</p><br />

<p>&emsp;&emsp;&emsp;&emsp;Search and Apply to latest and sync with Timesjobs account</p><br />

<p>&emsp;&emsp;&emsp;&emsp;Quick Registration</p><br />

<p>&emsp;&emsp;&emsp;&emsp;advance search for more refined search</p><br />

<p>&emsp;&emsp;&emsp;&emsp;Receive latest recommended jobs matching your profile</p><br />

<p>&emsp;&emsp;&emsp;&emsp;Jobs by industry on home page for a faster job browsing experiencs</p><br />

<p>&emsp;&emsp;&emsp;&emsp;Complete User profile management for better job updates</p><br />

<p>&emsp;&emsp;&emsp;&emsp;option to save searches & jobs and upfront menu optins to view saved searches,jobs,applied jobs</p><br />


</tr>
</table>


