<table border="1" width="90%" cellspacing="1" cellpadding="1">

<tr>
<th>Home</th>
<th>Job posting</th>
<th>Search</th>
<th>Personal Folder</th>
<th>Account Setting</th>

</tr></table>

<table border="1" align="left">
<tr>
<p><h3>Account Settings</h3></p>

<td>
<p><a href>Change password</a></p>
<p><a href>Manage Letter</a></p>
<p>Modify Company Profile</p>
<p><a href>Manage Login Access</a></p>
<p><a href>Manage User</a></p>
<p><a href>Update Contactinfo</a></p>

</td></tr></table>

<h3>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Modify Company Profile</h3>
<table width="50%" border="0" align="center">

<tr>
  <td>Company Name</td>
  <td><input type="text"/></td>
</tr>

<tr>
  <td>Mail Address</td>
  <td><input type="text"/></td>
</tr>

<tr>
  <td>Company Profile</td>
  <td><textarea></textarea></td>
</tr>

<tr>
<td align="right">
<input type="button" value= "Submit"/>
</td>
</tr></table>

<br/><br/>

<table width=100%" border="1">
<tr>
<td>
<p><b>For Employers</b></p>
<p> <a href>Home</a></p>
<p><a href>By Job Postings</a></p>
<p><a href>By Resume Database Access</a></p>
<p><a href>Talent Management Suite</a></p>
<br/>
</td>


<td>
<p><b>Job Posting</b></p>
<p><a href>Post a Job</a></p>
<p><a href>Manage Job Posting</a></p>
<p><a href>Manage Screening Questionnaries</a></p>
<br/><br/>
</td>

<td>
<p><b>Resume Search</b></p>
<p><a href>Magic Search</a></p>
<p><a href>Power Search</a></p>
<p><a href>IT Skills Search</a></p>
<p><a href>Search by Role</a></p>
<br/>
</td>

<td>
<p><b>Account Setting</b></p>
<p><a href>Change password</a></p>
<p><a href>ITech Shortcuts</a></p>
<p><a href>Manage Letter</a></p>
<p><a href>Modify Company Profile</a></p>

<p><a href>Manage User</a></p>
</td>

<td>
<p><b>About Our Site</b></p>
<p><a href>Contact Us</a></p>
<p><a href>About ITech</a></p>
<p><a href>Security Center</a></p>
<p><a href>Teams of Use</a></p>

<p><a href>Report a Bug</a></p>
</td>





</tr>
</table>
