<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div style="width:80%;margin:auto;padding:0px;background-color: #D9EDF7;border-color: #BCE8F1;padding:15px;color: #3A87AD;font-family:Arial,Helvetica,sans-serif;font-size:14px;">
	<div style="height:65px;padding:30px;"><p style="font-size:36px;color: #357EC7;"><strong>ITechTalents <sub style="font-size:18px;">"Smart Engine, Smart People"</sub></strong></p></div>
	<hr style="border:1px solid #BDBDBD;"><br>
	<div>
		<p style="color:#1F8B59;font-size:16px;"><strong>Thank you for choosing an ItechTalents.com ! </strong></p><br>
		<p>You're receiving this e-mail because you requested a username for your account at {{current_domain}}</p><br><br>
		<p><strong>Username : {{un}}</strong></p><br><br><br><br>
		<p>Thanks & Regards,</p>
		<p>HR Staffing Team, ItechTalents.com</p>
		<br><hr style="border:1px solid #BDBDBD;"><br>
	</div>
</div>
</body>
</html>

