<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div style="width:80%;margin:auto;background-color: #D9EDF7;border-color: #BCE8F1;padding:15px;color: #3A87AD;font-family:Arial,Helvetica,sans-serif;font-size:14px;">
	<div style="height:65px;padding:30px;"><p style="font-size:36px;color: #357EC7;"><strong>ITechTalents <sub style="font-size:18px;">"Smart Engine, Smart People"</sub></strong></p></div>
	<hr style="border:1px solid #BDBDBD;"><br>
	<div>
		<p style="color:#1F8B59;font-size:16px;"><strong>Thank you for choosing an ItechTalents.com ! </strong></p><br>
		<p>You requested to have your password reset. Click the button "Reset Password" to access our secure password reset function.</p><br><br>
		<p><a href="{{ site_url }}accounts/PasswordReset/{{ activation_key }}/" style="text-decoration:none;padding:7px 10px;font-size:13px;display:block;background:#FDE25E;border:solid 1px #ffc21f; width:150px;" target="_blank"><strong>Reset your password</strong></a></p><br>
		<p style="color:red;"><strong>Note : Access to this link is only valid for 24 hours.</strong></p><br><br><br><br>
		<p>Thanks & Regards,</p>
		<p>HR Staffing Team, ItechTalents.com</p>
		<br><hr style="border:1px solid #BDBDBD;"><br>
	</div>
</div>
</body>
</html>


