{% extends "registration/base/jobseekerbase.html" %}
{% block content %}
<div class="container" style="min-height:580px;">
	<div class="row-fluid">
		<div class="span12">
			<h3 class="text text-info" style="border-bottom:2px solid #FFB812;">Press Releases</h3>
	    	<div>
	    		<p><strong>European MNCs rushing to set up R&D centres in India </strong></p>
	    		<p style="text-align:justify;">European corporations are making a beeline to establish engineering research outfits in India, mirroring a practice pioneered by American companies such as Texas Instruments and General Electric more than a decade ago. The reason for setting up offshore engineering R&D centres called captives is much the same — plentiful high-tech talent at relatively low cost — and point to a deepening of relationship between India and Europe in the technology space. <a href="#">continue…</a></p>

	    	</div>
	    	<div>
	    		<p><strong>Tech freshers' pay caught in 4-year time warp </strong></p>
	    		<p style="text-align:justify;">India's $108-billion IT industry is among the country's largest organised private sector employers, but the bottom of the sector's pyramid appears to have little to cheer about. While the overall wage hike in the IT sector has dropped to single digits of late, the salaries of freshers, who are typically engineering graduates and form the largest chunk of recruits, has remained stagnant in the past three to four years. Experts say this trend is likely to prolong as firms navigate a difficult bu... <a href="#">continue…</a></p>

	    	</div>
	    	<div>
	    		<p><strong> Quality of entry-level talent worries IT companies</strong></p>
	    		<p style="text-align:justify;"> MUMBAI: Indian companies are increasingly complaining about the lack of quality talent at the entry level and more so in the IT/ITeS services space which recruits fresh graduates in huge numbers. According to a research conducted by a consulting firm, the findings of which were exclusively shared with TOI, only students from tier 1 engineering colleges, like the IITs and NITs, which constitute 4.5% of the overall engineering graduates, are fit to work in software products firms like Microsoft ... <a href="#">continue…</a></p>

	    	</div>
	    	<div>
	    		<p><strong> 6 Biggest Problems We Have with Undergraduate Resume </strong></p>
	    		<p style="text-align:justify;">#1 Use of an “Objective” statementLet me tell you why I hate when students put an “Objective” on their resume. If I am hiring for a job and you send me your resume, the only objective I even want to consider is that you want the job that I am posting. What else would I care about? Is the fact that your objective is to get a job in “consulting” going to make me look more favorably upon your candidacy? The only objective statement that would ever make a difference to me is if you sai... <a href="#">continue…</a></p>

	    	</div>
	    </div>
	</div>
</div>
			

{% endblock %}


	