{% extends "registration/base/jobseekerbase.html" %}
{% block content %}
<div style="width:1200px;padding:0px;margin:auto;" class="outerdiv">
<div>
<p>&emsp; You are here : <a href=""> Career Service</a> >Resume Plus </p>

<p>&emsp; Create your profile with our Experts:</p>

<br />

<table align="center" border="1" width="80%">

<tr> 
<td>
<h2>&emsp;Features: </h2>
<ul>
<li>Our Resume Writing Experts create a well written professional resume that promotes as a deserving Candidate</li>
<li>So no matter which industy you belong to or what is your experience,</li>
<li>You get a resume that stands out!</li>
</ul>

<table align="center" border="0" width="95%">
<tr>

<td>
<table border="1">
<tr>
<td>
<p>Resume for freshers looking for the first job </p>
<p>0 to below 1 year Experience</p>
<p>Rs. $xy</p>
<br />
<p align="center" ><input type="button" value="Buy Now"></input></p>

</td>
</tr>
</table>
</td>


<td>
<table border="1">
<tr>
<td>
<p>Resume for new Professionals</p>
<p>1 to below 4 year Experience</p>
<p>Rs. $xy</p>
<br />
<p align="center"><input type="button" value="Buy Now"></input></p>

</td></tr>
</table>


</td>


<td>
<table border="1">
<tr>
<td>

<p>Resume for Mid career Experience </p>
<p>4 to below 8 year Experience</p>
<p>Rs. $xy</p>
<br />
<p align="center"><input type="button" value="Buy Now"></input></p>
</td>
</tr>
</table>


</td>


<td>
<table border="1">
<tr>
<td>
<p>Resume for Senior level management </p>
<p>8 & above year Experience</p>
<p>Rs. $xy</p>
<br />
<p align="center" ><input type="button" value="Buy Now"></input></p>
</td>


</tr>


</table>

</td>
</tr>


</table>

<br />
</td>
</tr>
</table>
</div>

</div>
{% endblock %}
