{% extends "registration/base/jobseekerbase.html" %}
{% block extrahead %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" />
{% endblock %}
{% block content %}

    <div style="width:1200px; padding:0px;margin:auto;" class="outerdiv">
<table border="1"  width="99%" Cellspacing="1" cellpadding="1">
<table>
<br />
<p> You are here: <a href="">Career Service</a>> Resume High Pitched</p>
</table>
<br />
<h2>&emsp;&emsp;&emsp;Resume High-Pitched</h2>
<br />
<table border="1" width="80%" align="center">
<tr>
 <td>
 <br />
&emsp;<img border="0" src="/images/pulpit.jpg" alt="Pulpit rock" width="300" height="350"></img>
<br /><p>Service tax would be chargedat xy%</p>
 </td>

<td>
 <p>Stand Out in the Crowd &emsp;&emsp;

  <table border="1" width="40%" align="right">
    <tr>

    <td>
    <p>Resume High Pitched</p>
    <p>Price:rs xy for x days</p>
    </td>
    <td valign="top">
    <a href="/accounts/OrderSummary/"><input type="button" value="buy Now" /></a>
    </td>
    </tr>

  </table></p>

<br />
<br />
<br />
<br />
<br />
<br />
<p> Appear as an active jobseeker in recruiter search</p>
<br />
<p> Get marked as a Featured Candidate</p>
<br />
<p>Most viewed resumes get most interview calls</p>
</td>

</tr>
</table>
<br />
</table>
</td>
</tr>
</table>
</div>
{% endblock %}
{% block extrajavascript %}
    
    <script src="{{ STATIC_URL }}js/jquery-1.9.1.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}js/validation.js"></script>

{% endblock %}
