
<!-- 
{% if user.is_authenticated %}
  {% ifequal user.usertype  "employer" %}
    {% include "registration/headerempnosearch.html" %}
  {% else %}
    {% include "registration/headerjsnosearch.html" %}
  {% endifequal %}
{% else %}
  {% include "registration/headerhomenosearch.html" %}
{% endif %}

    <title>iTechTalents-Welcomes You</title>
    <link rel="stylesheet" type="text/css" href="http://nb9.stumbleupon.netdna-cdn.com/mIoD4tan6zHeCZB4KMBBlg" onerror="(typeof(logAssetError) == 'undefined') || logAssetError(event)"><link rel="stylesheet" type="text/css" href="http://nb9.stumbleupon.netdna-cdn.com/dLXNYomOKQ_MB5yXukMgaA" onerror="(typeof(logAssetError) == 'undefined') || logAssetError(event)"><link rel="stylesheet" type="text/css" href="http://nb9.stumbleupon.netdna-cdn.com/brHygi8tELzaP5z75M690g" onerror="(typeof(logAssetError) == 'undefined') || logAssetError(event)"><link rel="stylesheet" type="text/css" href="http://nb9.stumbleupon.netdna-cdn.com/0Tk0Zndia44u4Hyre1FgVQ" onerror="(typeof(logAssetError) == 'undefined') || logAssetError(event)"><link rel="stylesheet" type="text/css" href="http://nb9.stumbleupon.netdna-cdn.com/3xtxtaCvHwNoa3SUz6_SHg" onerror="(typeof(logAssetError) == 'undefined') || logAssetError(event)">

<body class="home-logged-out stretchy">

<div class="front-container">
    <div class="front-bg">
        <img class="front-image" src="{{ STATIC_URL }}images/statue1.jpg">
    </div>
    <div class="front-overlay-message-wrap">
        <div class="front-overlay-message-container">
            <div class="front-overlay-message-content">
                <h2 class="front-overlay-message"> iTechTalents.com is a platform that brings together Jobseekers and Employers.</h2>
                <h6 class="front-overlay-message-sub">We provide employment services throughout the world.</h6>
                <a class="btn primary cta" href="/accounts/EmpReg/">Employer</a>
                <a class="btn primary cta" href="/">JobSeeker</a>
            </div>
        </div>
    </div>
</div>
</body>
{% include "registration/footer.html" %}
     
 -->