{% extends "registration/base/jobseekerbase.html" %}
{% block content %}
<div style="min-height:495px;" class="container">
  <div class="row">
    <div class="span12" style="text-align:left;">
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success">{{message}}</div>
      {% endfor %}
      {% endif %}
      <div class="row-fluid">
        <div class="span6"><h4 class="text text-info" style="text-align:left;">Candidates inside the folder  {{ folder.foldername }}</h4></div>
        <div class="span6" style="text-align:right;"><button id="back" class="btn btn-primary">Back</button></div>
      </div>
      {% if fdetails %}
      <div><a class="p1" href="#myModal" role="button" data-toggle="modal">Delete</a></div>
      {% endif %}
      <table class="table table-striped">
       
				<tr>
					<th width="6%"><input type="checkbox" id="selectall" name="selectall" ></th>
					
					<th width="18%">Name</th>
					<th width="18%">Desired Position</th>
					<th width="18%">Current Location</th>
					<th width="18%">Date Edited</th>
					<th width="18%">Action</th>
        </tr>
        {% if fdetails %}
        {% for details in fdetails %}
        <tr>
				  <td><input type="checkbox" id="checkloc" name="checklocs" value="{{details.id}}" ></td>
				  <td><a href="/accounts/JSDetails/{{ details.jobseeker.user.id }}/" >{{ details.jobseeker.user.first_name }} {{ details.jobseeker.user.last_name }}</a></td>
				  <td>{{ details.jobseeker.jsskills.skill1 }}</td>
				  <td>{{ details.jobseeker.jspersonal.state }}</td>
				  <td>{{ details.jobseeker.update_date }}</td>
				  <td><a class="clickdel" id="{{ details.id }}" href="#myModal1" role="button" data-toggle="modal" >delete</a></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td colspan="6" style="text-align:center;">You're not saved any candidates inside this folder. Click <a href="/accounts/SearchResumeAdvanced/">here</a> to add candidates </td>
        </tr>
       
        {% endif %}
      </table>
    </div>
  </div>
</div>


<!-- ************** POPUP FORM DELETE ALL ************* -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <form action="/accounts/DelJSInsideFolder/" method="post" >{% csrf_token %}
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h3 id="myModalLabel">Delete all the candidates</h3>
    </div>

    <div class="modal-body">
      <input type="hidden" value="{{ user.id }}" name="empid" >
      <input type="hidden" id="txt" value="" name="savecandidateid">
      <input type="hidden" name="fid" value="{{ folder.id }}">
      <p>Are you sure to delete ?</p>
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">No</button>
      <input type="submit" onclick="return delallval();" value="Yes" class="btn btn-primary">
    </div>
  </form>
</div>


<!-- ************ POPUP FORM DELETE ONE BY ONE *********** -->
<div id="myModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <form action="/accounts/DelJSInsideFolder/" method="post">{% csrf_token %}

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h3 id="myModalLabel">Delete saved candidates</h3>
    </div>

    <div class="modal-body">
      <input type="hidden" name="empid" value="{{user.id}}" >
      <input type="hidden" id="txt1" value="" name="savecandidateid">
      <input type="hidden" name="fid" value="{{ folder.id }}">
      <p>Are you sure to delete ?</p>
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">No</button>
      <input type="submit" onclick="return delallval();" value="Yes" class="btn btn-primary">
    </div>
  </form>
</div>
{% endblock %}
{% block extrajavascript %}

<script type="text/javascript">

$(document).ready(function ()
    {
      $('#selectall').click(function (event)
        {
          var selected = this.checked;
          $(':checkbox[name=checklocs]').each(function ()
            {
              this.checked = selected;
            });
        });

      $(".p1").click(function()
        {
          var array1 = [];
          $("input:checkbox[name=checklocs]:checked").each(function ()
            {
              array1.push($(this).val());
            });
          $("#txt").val(array1.join(','));
        });

      $('.clickdel').click(function()
        {
          var id = $(this).attr('id');
          $("#txt1").val(id);
        });

      $('#back').click(function()
        {
          parent.history.back();
          return false;
        });

    });

  function delallval()
    {
      var s=document.getElementById('txt').value;
      if (s==""||s==null)
      {
        alert("Select the candidates to delete ! ");
        return false;

      }
      else
      {
        return true;
      }

    }

  function editval()
    {
      var e=document.getElementById('foldername').value;
      
      if(e=='' || e==null)
      {
        document.getElementById('foldername').style.borderColor = "#FF0000";
        return false;
      }
      else
      {
        return true;
      }
    }

</script>
{% endblock %}
