{% extends "registration/base/jobseekerbase.html" %}
{% block content %}
<script type="text/javascript">
(function ($) {
	  jQuery.expr[':'].Contains = function(a,i,m){
	      return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
	  };	  
	  function filterList(header, list) {
	    var form = $("<form>").attr({"class":"filterform","action":"#"}),
	        input = $("<input>").attr({"class":"filterinput input-large","type":"text","placeholder": "Enter the search details"});
	    $(form).append(input).appendTo(header);
	    $(input)
	      .change( function () {
	        var filter = $(this).val();
	        if(filter) {
	       
	          $matches = $(list).find('td:Contains(' + filter + ')').parent();
	          $('tr', list).not($matches).slideUp();
	          $matches.slideDown();
	             
	        } else {
	          $(list).find("tr").slideDown();
	        }
	        return false;
	      })
	    .keyup( function () {
	        $(this).change();
	    });
	  }	  
	  $(function () {
	    filterList($("#form"), $("#list"));
	  });
	}(jQuery));
</script>
<style type="text/css">
.recappul li,#form{
	display: inline;

}
.filterform{
	padding-top: 10px;
}
</style>
<div class="container" style="min-height:580px;">
	<div class="row">
		<div class="span12">
			<div class="row">
			<div class="span8"><h3 style="text-align:left;">Secret Cleared Resumes</h3>
			</div>
			<div class="span4"><ul class="recappul"><li id="form"></li>	</ul></div>
			</div>
			<div class="row"><div class="span12">
			<table class="table table-striped well" style="border-top:3px solid #FFB812;">
				<thead>
					<tr>
			 			<th width="15%">Name</th>
			 			<th width="25%">Qualification</th>
			 			<th width="20%">Clearance Level</th>
			 			<th width="25%">Key Skills</th>
			 			<th width="15%">Location</th>
			 		</tr>
			 	</thead>
			 	<tbody id="list">
			 	{% if scresumes %}
			 	{% for a in scresumes %}
			 		<tr>
			 			<td><a href="/accounts/JSDetails/{{ a.id }}/">{{ a.username }}</a></td>
			 			<td>{% for qua in a.jsqualification_set.all %}{{qua.degree}}{% if not forloop.last %},&nbsp;{% endif %}{% endfor %}</td>
			 			<td>{{a.jssecurity.jssecretclear}}</td>
			 			<td>{% for skil in a.jsskills_set.all %}{{ skil.skill }}{% if not forloop.last %},&nbsp;{% endif %}{% endfor %}</td>
			 			<td>{{ a.jspersonal.state }}</td>
			 		</tr>
			 	{% endfor %}
			 	{% endif %}
			 	</tbody>
			</table>
			</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
