
{% extends "registration/base/jobseekerbase.html" %}


{% block content %}
<script type="text/javascript">


(function ($) {
	  jQuery.expr[':'].Contains = function(a,i,m){
	      return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
	  };
	  
	  function filterList(header, list) {
	    var form = $("<form>").attr({"class":"filterform","action":"#"}),
	        input = $("<input>").attr({"class":"filterinput","type":"text","placeholder": "Search"});
	    $(form).append(input).appendTo(header);
	  
	    $(input)
	      .change( function () {
	        var filter = $(this).val();
	        if(filter) {
	       
	          $matches = $(list).find('td:Contains(' + filter + ')').parent();
	          $('tr', list).not($matches).slideUp();
	          $matches.slideDown();
	             
	        } else {
	          $(list).find("tr").slideDown();
	        }
	        return false;
	      })
	    .keyup( function () {
	        $(this).change();
	    });
	  }
	  
	  $(function () {
	    filterList($("#form"), $("#list"));
	  });
	}(jQuery));

</script>

<style type="text/css">
 
.recappul li,#form
{
	display: inline;
}
</style>

<div class="container" style="min-height:495px;">
	<div class="row">
		<div class="span12">
			<h2 style="text-align:left;">SecretCleared Jobs</h2>
			<ul class="recappul" style="text-align:center;padding-right:40px;" >
				<li id="form"></li>
			</ul>
			
			 		<table class="table table-striped">
			 			<thead>
				 			<tr>
				 				<th>Job Title</th>
				 				<th>Clearance Level</th>
				 				<th>Company Name</th>
				 				<th>Location</th>
				 				<th>Posted Date</th>
				 			</tr>
			 		</thead>
			 		<tbody id="list">
					 	{% if scjobs %}
						 {% for a in scjobs %}
					 			<tr>
					 				<td>
					 					<a href="/accounts/JobFullDescription/{{ a.id }}/">{{ a.title }}</a>
					 				</td>
					 				<td>
					 					{{a.empsecretclear}}
					 				</td>
					 				<td>
					 					{{a.emp.companyname}}
					 				</td>
					 				<td>
					 					{{a.city}}
					 				</td>
					 				<td>
					 					{{ a.marklive }}
					 				</td>
					 			</tr>
					 	{% endfor %}
					 {% endif %}
			 	</tbody>
			 </table>

		</div>
	</div>
</div>


{% endblock %}
