{% extends "registration/base/jobseekerbase.html" %}
{% block content %}
<div style="min-height:495px;" class="container">
	<div class="row-fluid" >
		<div class="span12 well">
		<div class="span8 offset1">
			<h3 class="text text-info">Reset Your Password</h3>
			<form action="/accounts/SetNewPassword/" method="post" name="setnewpassword" id="setnewpassword">{% csrf_token %}
				<input type="hidden" name="userid" value="{{userid}}">
				<p><label>New Password</label><input type="password" name="newpassword" id="newpassword" class="text text-xlarge"><span id="validatepass1"></span></p>
				<p><label>Confirm Password</label><input type="password" name="confirmpassword" id="confirmpassword" class="text text-xlarge"><span id="validatepass2"></span></p>
				<p><button type="submit" class="btn btn-large btn-info">Reset Now !</button></p>
			</form>
		</div>
		</div>
	</div>
</div>
{% endblock %}
{% block extrajavascript %}
<script type="text/javascript">
	$(document).ready(function()
	{
		$("form#setnewpassword input[type=password]").focusout( function()
		{
			if ($(this).attr('id')=='newpassword'){
				var pwd=$('#newpassword').val();
				var tst1 = new RegExp("((?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{6,})");
				if(pwd==''){
	                    $("#validatepass1").html('&emsp;<span class="text text-error"><i class="icon-remove"></i>&nbsp;This Field is Required</span>');
	                }
	            else if(!tst1.test(pwd)){
	                    $("#validatepass1").html('&emsp;<span class="text text-error"><i class="icon-remove"></i>&nbsp;Min 6 chars, atleast 1 uppercase, lowercase and numeric are required</span>');
	                }
	            else{
		                $("#validatepass1").html('&emsp;<span class="text text-success"><i class="icon-ok"></i></span>');
		            }
				}

			if ($(this).attr('id')=='confirmpassword'){
				var ps2 = $("#confirmpassword").val();
                var ps1 = $("#newpassword").val();
                
                if(ps2==''){
                        $("#validatepass2").html('&emsp;<span class="text text-error"><i class="icon-remove"></i>&nbsp;This Field is Required</span>');
                    }
                else if(ps1!=ps2){
                        $("#validatepass2").html('&emsp;<span class="text text-error"><i class="icon-remove"></i>&nbsp;Password Mismatched</span>');
                    }
                else{
	                    $("#validatepass2").html('&emsp;<span class="text text-success"><i class="icon-ok"></i></span>');
	                }
				}
		});
		
		$("form#setnewpassword").submit(function(){
			var ps2 = $("#confirmpassword").val();
            var ps1 = $("#newpassword").val();
            var tst1 = new RegExp("((?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{6,})");
            if(ps1=='' && ps2==''){
            	$("#validatepass1").html('&emsp;<span class="text text-error"><i class="icon-remove"></i>&nbsp;This Field is Required</span>');
            	$("#validatepass2").html('&emsp;<span class="text text-error"><i class="icon-remove"></i>&nbsp;This Field is Required</span>');
            	return false;
            }
            else if(ps1==''){
            	$("#validatepass1").html('&emsp;<span class="text text-error"><i class="icon-remove"></i>&nbsp;This Field is Required</span>');return false;
            }
            else if(!tst1.test(ps1)){
	            $("#validatepass1").html('&emsp;<span class="text text-error"><i class="icon-remove"></i>&nbsp;Min 6 chars, atleast 1 uppercase, lowercase and numeric are required</span>');return false;
	        }
            else if(ps2==''){
            	$("#validatepass2").html('&emsp;<span class="text text-error"><i class="icon-remove"></i>&nbsp;This Field is Required</span>');return false;
            }
            else if(ps1!=ps2){
                $("#validatepass2").html('&emsp;<span class="text text-error"><i class="icon-remove"></i>&nbsp;Password Mismatched</span>');return false;
            }
            else{
            	$("#validatepass1").html('&emsp;<span class="text text-success"><i class="icon-ok"></i></span>');
            	$("#validatepass2").html('&emsp;<span class="text text-success"><i class="icon-ok"></i></span>');
            	return true;
            }





		});

	});
</script>
{% endblock %}
