{% extends "registration/base/jobseekerbase.html" %}
{% block extrahead %}	
<style type="text/css">
	.sitemapwidth{
		width:270px !important;
	}
</style>
{% endblock %}
{% block content %}
 <div class="container" style="min-height:580px;"> 	
 	<div class="row">
 		<h3 class="text text-info" style="text-align:left;border-bottom:2px solid #FFB812;">ITechTalents Site Map</h3>
 			<div class="span3 sitemapwidth"  style="text-align:left;">
 			<h4 class="text text-info">Job Seeker <small>(Login as job seeker)</small></h4> 
 			
 				<p><a href="/accounts/login/">Login</a></p>
 				<p><a href="/js/Dashboard/">Profile</a></p>
 				<p><a href="/accounts/MyApplications/">My Jobs</a></p>
 				<p><a href="/accounts/MyInterviewZone/">Interview Zone</a></p>
 				<p><a href="/accounts/CareerPlus/">Carrier Services</a></p>
 				<p><a href="/accounts/ProfileVisibility/">Visibility Settings</a></p>
 			
 			</div>
 			<div class="span3 sitemapwidth" style="text-align:left;">
 			<h4 class="text text-info">Employer <small> (Login as employer)</small></h4> 
 				<p><a href="/accounts/EmpReg/">Login</a></p>
 				<p><a href="/accounts/RecruiterDashboard/">MyDesk</a></p>
 				<p><a href="/accounts/JobsEmp/">Jobpost & findcandidates</a></p>
 				<p><a href="/accounts/MyInterviewZoneEmp/">Interview Zone</a></p>
 				<p><a href="/accounts/EmpPackname/">Available Packs</a></p>
 				<p><a href="/accounts/EmpSelectedPack/">Subscribed Packs</a></p>
 			<h4 class="text text-info">Community</h4>
 			<p><a href="/accounts/BlogTopics/">Blogs</a></p>
 				<p><a href="/forum/questions/">Forum</a></p>
 				<p><a href="/feeds/">Feeds</a></p>
 			</div>
 			<div class="span3 sitemapwidth" style="text-align:left;">
 			<h4 class="text text-info">Job Search</h4>
 			
 				<p><a href="/accounts/JobFair/">JobFair</a></p>
 				<p><a href="/accounts/JobsType/">Jobs by type</a></p>
 				<p><a href="/accounts/JobsCity/">Jobs by location</a></p>
 				<p><a href="/accounts/JobsCompany/">Jobs by company</a></p>
 				<p><a href="/accounts/JobsCategory/">Job by category</a></p>
 			
 			<h4 class="text text-info">Support</h4>
 			
 				<p><a href="/accounts/Feedback/">Feedback</a></p>
 				<p><a href="/accounts/TechNews/">Tech News</a></p>
 				<p><a href="/accounts/MarketReport/">Itech Talents Report</a></p>
 				<p><a href="/accounts/Help/">Help</a></p>
 			</div>
 			<div class="span3 sitemapwidth" style="text-align:left;">
 			<h4 class="text text-info">Policies</h4>
 			<p><a href="/accounts/TermsOfUse/">Terms of Use</a></p>
 			<p><a href="/accounts/Privacy&Policy/">Privacy Policy</a></p>
 			<p><a href="">Languages</a></p>
 			<p><a href="/accounts/Events/">Events</a></p>
 			<p><a href="/accounts/AboutUs/">About Us</a></p>
 			<p><a href="/accounts/ContactUs">Contact Us</a></p>
 			<p><a href="/accounts/FAQ/">FAQ's</a></p>

 			</div>
 			
 		</div>
 </div>
{% endblock %}