{% extends "registration/base/jobseekerbase.html" %}
{% block extrahead %}<style type="text/css">strong{color:#39b3d7;}</style>{% endblock %}
{% block content %}
<div class="container" style="min-height:580px;">
	<div class="row-fluid">
		<div class="span12">
			<h3 class="text text-info" style="border-bottom:2px solid #FFB812;">Latest Tech News</h3>
			<h4><strong>Google Open Source Program Manager Chris DiBona: Best of Both Worlds</strong></h4>
			<p style="text-align:justify;">In 1996, two Stanford University students, Larry Page and Sergey Brin, created a unique search engine called "BackRub" that ran on the school's server. After one year, BackRub's bandwidth outgrew the university's needs. Its creators rebranded BackRub into Google, a respelled reference to "googol." It is a mathematical term for the number represented by the numeral 1 followed by 100 zeros.</p>
				<div>
					<span class="badge badge-success">Posted 2013-08-02 20:47:04</span>	
			</div>
			<hr>

			<h4><strong>The Cloud: It's Not Just a Technology - It's a Catalyst</strong></h4>
			<p style="text-align:justify;">We see almost a contradiction within enterprise users of cloud," said HP's Paul Muller. "We see groups that will quite readily go out and adopt cloud services. The so-called consumerization trend is quite prevalent, especially with what I would describe as simple services. Yet, simultaneously, we see reluctance sometimes, particularly for the IT organization, to let go and cloud-source services and applications.</p>
				<div>
					<span class="badge badge-success">Posted 2013-08-02 20:47:04</span>
			</div>
			<hr>

			<h4><strong>IBM Builds Traffic Cop for Internet of Things</strong></h4>
			<p style="text-align:justify;">It's the latest theme to ricochet through the tech industry -- the Internet of Things, where smart, connected machines large and small monitor each other and diagnose themselves. IBM says its MessageSight appliance will capture, analyze and manage the millions of bits of data that will soon flood networks. IBM is also touting a software protocol for the MessageSight as the best way to standardize the foundation for the Internet of Things.</p>
				<div>
					<span class="badge badge-success">Posted 2013-08-02 20:47:04</span>
				</div>
			<hr>

			<h4><strong>Improving IT Ops Service Levels and Efficiency</strong></h4>
			<p style="text-align:justify;">New tools are available to help with service level management, but they require a new perspective on how IT infrastructure components should be managed. The key is to embrace a new ideal of managing every infrastructure component from the perspective of how it impacts end-user service levels. To do this, IT operations teams must understand the three laws of service-oriented IT operations management.</p>
				<div>
					<span class="badge badge-success">Posted 2013-08-02 20:47:04</span>
				</div>
			<hr>
		</div>
	</div>
</div>

{% endblock %}

